
html.general-purpose-overlay--shown,
html.tooltip--shown,
html.transaction-detail--shown,
html.flash-modal--shown {
  overflow: hidden;
}
.overlay--flash {
  @extend .overlay;
  @include clickbtn;
  background-color: rgba(0, 0, 0, 0.5);
  #modal-hidden-input {
    height: 0;
    padding: 0;
    margin: 0;
    border: 0;
    display: block;
  }
}
