.shapeshift_awaiting {
  padding-top: 30px;
  margin-bottom: 25px;
  ._subtitle {
    font-size: $subtitle_font_size;
    line-height: 1.2;
    text-align: center;
    color: #999;
    margin-bottom: 15px;
    @include breakpoint(portrait) {
      font-size: $subtitle_font_size--portrait;
      margin-bottom: 30px;
    }
  }
  ._loading_icon {
    width: 25px;
    height: 25px;
    display: block;
    margin: 0 auto;
    animation: infinite-spinning 1s linear infinite;
    @include breakpoint(portrait) {
      width: 35px;
      height: 35px;
    }
    .svg-refresh {
      fill: darken($grey, 20%);
    }
  }
}
