.shapeshift_awaiting_deposit {
  margin-bottom: 25px;

  .exchange_header {
    position: relative;
    ._back {
      cursor: pointer;
      user-select: none;
      color: #999;
      display: inline-block;
      margin-left: -10px;
      margin-bottom: 5px;
      @include breakpoint(portrait) {
        font-size: 20px;
      }
      ._icon {
        width: 25px;
        height: 25px;
        background-size: 25px 25px;
        @include breakpoint(portrait) {
          width: 30px;
          height: 30px;
          background-size: 30px 30px;
        }
        display: inline-block;
        vertical-align: top;
        background: url('./assets/img/arrow-left.svg');
        opacity: 0.6;
      }
    }
    ._subtitle {
      font-size: 24px;
      line-height: 1.2;
      text-align: center;
      color: #999;
      margin-bottom: 20px;
      @include breakpoint(portrait) {
        font-size: 32px;
        margin-bottom: 40px;
      }
    }
  }

  .instructions {
    @extend .jigsaw-regular;
    @include wrapdat;
    @include breakpoint(portrait) {
      font-size: 20px;
      margin-bottom: 40px;
    }
    margin-bottom: 20px;
  }

  ._title {
    @include breakpoint(portrait) {
      font-size: 20px;
    }
  }

  .address__box {
    @extend .generic_box;
    margin-top: 5px;
    margin-bottom: 20px;

    position: relative;

    @include breakpoint(portrait) {
      margin-bottom: 40px;
    }

    ._address {
      @include ellipsis();
      @include textselect;
      @extend .jigsaw-light;
      display: block;
      padding-right: 40px;
    }

    ._btn {
      @extend .csbtn;
      width: 36px;
      height: 36px;
      position: absolute;
      right: 3px;
      top: 50%;
      margin-top: -20px;

      padding: 0;
      padding-top: 7px;
      border-radius: 2px;

      @include breakpoint(portrait) {
        width: 48px;
        height: 48px;
        margin-top: -25px;
        right: 4px;
      }

      ._icon {
        width: 26px;
        height: 26px;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -13px;
        margin-left: -13px;

        @include breakpoint(portrait) {
          width: 36px;
          height: 36px;
          margin-top: -18px;
          margin-left: -18px;
        }
      }
    }

    @include breakpoint(portrait) {
      font-size: 26px;
      border-radius: 3px;
    }
  }

  .qr-code {
    margin-bottom: 15px;
  }

  ._market_info {
    @extend .jigsaw-regular;
    margin-bottom: 5px;
    @include breakpoint(portrait) {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
}
