.shapeshift_awaiting_deposit {
  margin-bottom: 25px;

  .exchange_header {
    position: relative;
    ._subtitle {
      font-size: $subtitle_font_size;
      line-height: 1.2;
      text-align: center;
      color: #999;
      margin-bottom: 20px;
      @include breakpoint(portrait) {
        font-size: $subtitle_font_size--portrait;
        margin-bottom: 40px;
      }
    }
  }

  .instructions {
    @include wrapdat;
    @include breakpoint(portrait) {
      font-size: $base_font_size--portrait;
      margin-bottom: 40px;
    }
    margin-bottom: 20px;
  }

  ._title {
    @extend .jigsaw-medium;
    @include breakpoint(portrait) {
      font-size: $base_font_size--portrait;
    }
  }

  .qr-code {
    margin-bottom: 15px;
  }

  ._market_info {
    margin-bottom: 5px;
    @include breakpoint(portrait) {
      font-size: $base_font_size--portrait;
      margin-bottom: 10px;
    }
  }
}
