VITE_BUILD_TYPE=phonegap
VITE_PLATFORM=ios     # android, ios
VITE_DISTRIBUTION=ios # android-play, android-galaxy, android-huawei, android-uptodown, android-apk, ios

GOOGLE_CLOUD_KEY=
GOOGLE_CLOUD_BUCKET=
