#exchange {
  .hidden {
    display: none;
  }
}
#exchange_changelly, #exchange_none {
  display: none;
  &.current {
    display: block;
  }
}

@import "./changelly/_index";
@import "./none/_index";
