#exchange_none {
  ._title {
    margin-bottom: 10px;
    @include breakpoint(portrait) {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
  ._btn {
    @extend .csbtn;
    margin-bottom: 20px;
    @include breakpoint(portrait) {
      font-size: 26px;
      border-radius: 3px;
      margin-bottom: 30px;
    }
    ._icon {
      display: inline-block;
      height: 0;
      width: 40px;
      margin-left: -45px;
      margin-right: 5px;
      margin-top: -40px;
      vertical-align: middle;
      @include breakpoint(portrait) {
        width: 48px;
        margin-left: -58px;
        margin-top: -48px;
        margin-right: 10px;
      }
    }
  }
}

#exchange_changelly, #exchange_shapeshift, #exchange_none {
  display: none;
  &.current {
    display: block;
  }
}

@import "./shapeshift/_index";
@import "./changelly/_index";
