node_modules
npm-debug.log
bundle.*
build/
.DS_Store
Thumbs.db
Thumbs.db:encryptable
.idea
/phonegap/build.json
/phonegap/release.keystore
.env.*
!.env.example
!.env.defaults
docker-compose.dev.yml
docker-compose.prod.yml
.vscode/
electron/app
electron/out
electron/resources/appxmanifest.xml
*.provisionprofile
*.pfx
app/lib/i18n/list.json
