.add_ethereum_token {
  padding: 0;
  padding-top: 20px;
  background-color: white;
  min-width: 280px;
  max-width: 450px;

  @include breakpoint(portrait) {
    width: 450px;
    padding-top: 30px;
  }

  ._header {
    font-size: 21px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid $grey;

    @include breakpoint(portrait) {
      font-size: 24px;
      padding-bottom: 20px;
    }
  }

  ._content {
    padding: 20px 20px 0;

    .input__container {
      position: relative;
      margin-top: 5px;
    }

    ._token_container {
      margin-bottom: 20px;
      @include noselect;
      @include ellipsis;
    }

    ._select_container {
      display: inline-block;
      position: relative;
      text-decoration: underline;
      padding: 0 5px;
      select {
        position: absolute;
        opacity: 0;
        left: 0;
        top: -5px;
        @include breakpoint(portrait) {
          top: 0
        }
      }
    }

    ._label {
      @include noselect;
      cursor: pointer;
      display: block;
      margin-bottom: 20px;

      @include breakpoint(portrait) {
        font-size: 20px;
      }
    }

    ._input {
      @extend .generic_box;
      @extend .jigsaw-light;
      padding-left: 10px;
      padding-right: 38px;
      border-radius: 2px;

      height: auto;

      &:active, &:focus {
        outline: 0;
        border: 1px solid #999;
      }

      @include breakpoint(portrait) {
        font-size: 26px;
        border-radius: 3px;
        padding-right: 58px;
      }
    }

    ._contract_address_group {
      display: flex;

      .close__input {
        ._icon {
          .svg-close {
            fill: #969594;
          }
        }
      }

      ._label {
        flex: 1;
      }

      ._btn {
        @extend .csbtn-base;
        background-color: $ethereal;
        box-shadow: 0 2px 0 0 darken($ethereal, 10%);

        margin-top: 29px;
        padding: 0;
        width: 42px;
        height: 42px;
        position: relative;

        @include breakpoint(portrait) {
          margin-top: 35px;
          width: 59px;
          height: 59px;
        }

        ._icon {
          width: 30px;
          height: 30px;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -15px;
          margin-left: -15px;

          @include breakpoint(portrait) {
            width: 44px;
            height: 44px;
            margin-top: -22px;
            margin-left: -22px;
          }
        }
      }

      ._btn-qr {
        margin-left: 10px;
      }
    }
  }

  ._inputs {
    padding: 0 20px 20px 20px;
    background-color: white;
    border-radius: 3px;

    display: flex;

    ._cancel {
      @extend .csbtn-base;
      margin-right: 5px;

      color: darken($grey, 20%);
      background-color: $grey;
      box-shadow: 0 2px 0 0 darken($grey, 20%);

      @include breakpoint(portrait) {
        font-size: 24px;
      }

      &:hover {
        color: darken($grey, 20%);
      }
    }

    ._add {
      @extend .csbtn-base;
      background-color: $ethereal;
      box-shadow: 0 2px 0 0 darken($ethereal, 10%);
      margin-left: 5px;

      @include breakpoint(portrait) {
        font-size: 24px;
      }
    }

    ._add--processing {
      @extend .csbtn-base;
      position: relative;
      margin-left: 5px;
      color: darken($grey, 20%);
      background-color: $grey;
      transform: translate(0px, 3px);
      box-shadow: 0 0px 0 0;
      &:hover {
        color: darken($grey, 20%);
      }
      ._icon {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -15px;
        margin-left: -15px;
        width: 30px;
        height: 30px;
        display: inline;
        animation:  infinite-spinning 1s linear infinite;
        .svg-refresh {
          fill: darken($grey, 20%);
        }
      }
    }
  }

}
