.changelly_enter_amount {
  margin-bottom: 25px;

  .exchange_header {
    position: relative;
    ._back {
      cursor: pointer;
      user-select: none;
      color: #999;
      display: inline-block;
      margin-left: -10px;
      margin-bottom: 10px;
      @include breakpoint(portrait) {
        font-size: 20px;
        margin-bottom: 20px;
      }
      ._icon {
        width: 25px;
        height: 25px;
        background-size: 25px 25px;
        @include breakpoint(portrait) {
          width: 30px;
          height: 30px;
          background-size: 30px 30px;
        }
        display: inline-block;
        vertical-align: top;
        background: url('./assets/img/arrow-left.svg');
        opacity: 0.6;
      }
    }
  }

  ._title {
    @include breakpoint(portrait) {
      font-size: 20px;
    }
  }

  ._min_amount {
    @extend .jigsaw-regular;
    @include breakpoint(portrait) {
      font-size: 20px;
    }
  }

  .exchange__amount {
    display: flex;
    margin-bottom: 20px;
    &.from {
      margin-bottom: 0;
    }

    ._exchange_group {
      @include noselect;
      position: relative;
      flex: 1;
      margin-right: 10px;
      @include breakpoint(portrait) {
        font-size: 20px;
      }
    }

    .input__container {
      position: relative;
      margin-top: 5px;

      ._symbol_dropdown {
        @include noselect;
        @extend .jigsaw-light;

        background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
        background-repeat: no-repeat;
        background-position: right center;

        position: absolute;
        z-index: 500;
        cursor: pointer;
        display: block;
        text-align: right;
        font-size: 18px;
        top: 6px;
        right: 3px;
        opacity: 0.4;
        width: 100px;
        @include breakpoint(portrait) {
          top: 8px;
          font-size: 24px;
        }
        ._symbol {
          position: absolute;
          top: 5px;
          right: 27px;
          @include breakpoint(portrait) {
            top: 6px;
            right: 29px;
          }
        }
        select {
          opacity: 0;
          @extend .jigsaw-light;
          font-size: 18px;
          border: none;
          background-color: transparent;
          width: 100%;
          &:focus {
            outline: none;
          }
          @include breakpoint(portrait) {
            font-size: 24px;
          }
        }
      }
    }

    ._select_container {
      display: inline-block;
      position: relative;
      text-decoration: underline;
      padding: 0 5px;
      select {
        position: absolute;
        opacity: 0;
        left: 0;
        top: -5px;
        @include breakpoint(portrait) {
          top: 0
        }
      }
    }

    ._label {
      flex: 1;
      &._pointer {
        cursor: pointer;
      }
    }

    ._input {
      @extend .generic_box;
      @extend .jigsaw-light;
      padding-left: 10px;
      padding-right: 100px;
      border-radius: 2px;
      height: auto;

      &:active, &:focus {
        outline: 0;
        border: 1px solid #999;
      }

      @include breakpoint(portrait) {
        font-size: 26px;
        border-radius: 3px;
        padding-right: 58px;
      }
    }

  }

  .exchange__rate {
    @extend .jigsaw-regular;
    margin-bottom: 20px;
    @include breakpoint(portrait) {
      font-size: 20px;
    }
  }

  .swap__wrapper {
    position: relative;
    height: 10px;
    @include breakpoint(portrait) {
      height: 20px;
    }
    ._btn {
      cursor: pointer;
      text-align: right;
      user-select: none;
      position: absolute;
      right: 10px;
      padding: 10px;
      top: -17px;
      z-index: 1000;
      ._icon {
        width: 28px;
        height: 28px;
        display: inline-block;
        transform: rotate(90deg);
        .svg-exchange {
          fill: darken($grey, 20%);
        }
        @include breakpoint(portrait) {
          width: 36px;
          height: 36px;
        }
      }
    }
  }

  .confirm__buttons {
    margin-top: 20px;
    @include breakpoint(portrait) {
      margin-top: 40px;
    }
  }

  .confirm__btn {
    @extend .csbtn;

    @include breakpoint(portrait) {
      font-size: 26px;
      border-radius: 3px;
    }
  }

  .confirm__btn--validating {
    @extend .csbtn-base;
    position: relative;
    background-color: $grey;
    transform: translate(0px, 3px);
    box-shadow: 0 0px 0 0;
    height: 60px;
    @include breakpoint(portrait) {
      height: 72px;
    }
    ._icon {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -15px;
      margin-left: -15px;
      width: 30px;
      height: 30px;
      animation: infinite-spinning 1s linear infinite;
      @include breakpoint(portrait) {
        margin-top: -18px;
        margin-left: -18px;
        width: 36px;
        height: 36px;
      }
      .svg-refresh {
        fill: darken($grey, 20%);
      }
    }
  }
}
