.header {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  background-color: darken($brand-green, 30%);
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;

  @include breakpoint(iphone5) {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  @include breakpoint(portrait) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.litecoin {
  .header {
    background-color: darken($silver, 30%);
  }
}
.ethereum {
  .header {
    background-color: darken($ethereal, 30%);
  }
}

.header__balance {
  @include clickbtn;
  @extend .jigsaw-light;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 10px;
  width: 100%;

  ._amount {
    font-size: 32px;
  }
  ._currency {
    @extend .jigsaw-medium;
    font-size: 14px;
    padding-top: 5px;
    margin-left: 3px;
  }

  @include breakpoint(portrait) {
    margin-top: 10px;
    ._amount {
      font-size: 43px;
    }
  }
}

.ethereum {
  .header__balance {
    ._amount {
      font-size: 26px;
      line-height: 50px;
    }
    @include breakpoint(portrait) {
      ._amount {
        font-size: 43px;
        line-height: 48px;
      }
    }
    @include breakpoint(landscape) {
      ._amount {
        font-size: 32px;
        line-height: 48px;
      }
    }
  }
}

.icon_atom {
  @include clickbtn;
  width: 50px;
  padding-top: 12px;
  text-align: center;
  margin-bottom: 5px;


}

.header__toggle {
  @extend .icon_atom;
  padding-left: 10px;

  @include breakpoint(portrait) {
    width: 100px;
    padding-top: 20px;
  }

  ._icon {
    width: 25px;
    height: 25px;
    display: block;
    margin: 0 auto;

    @include breakpoint(portrait) {
      width: 35px;
      height: 35px;
    }
  }
}

.toggle_overlay {
  cursor: pointer;
  position: absolute;
  z-index: 9000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header__refresh {
  @extend .icon_atom;
  padding-right: 10px;

  @include breakpoint(portrait) {
    width: 100px;
    padding-top: 20px;
  }
  ._icon {
    width: 25px;
    height: 25px;
    display: block;
    margin: 0 auto;

    &.loading {
      animation: infinite-spinning 1s linear infinite;
    }

    @include breakpoint(portrait) {
      width: 35px;
      height: 35px;
    }
  }

  .svg-refresh {
    fill: white;
  }
}

.header__currency {
  @include clickbtn;
  position: absolute;
  right: 20px;
  top: 55px;
  font-size: 14px;

  select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  @include breakpoint(iphone5) {
    top: 68px;
    right: 15px;
  }

  @include breakpoint(portrait) {
    top: 110px;
    right: 30px;
    font-size: 20px;
  }
}
