.widget-header {
  background-color: darken($brand-green, 30%);
  color: white;

  .header {
    max-width: $max_content_width;
    margin: 0 auto;
    display: flex;
    align-items: center;

    padding-left: 20px;
    padding-right: 20px;

    height: 97px;
    position: relative;

    @include breakpoint(portrait) {
      padding-left: 40px;
      padding-right: 40px;
      height: 140px;
    }
  }

  .header__balance {
    @include clickbtn;
    @extend .jigsaw-light;
    display: flex;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
    width: 100%;

    font-size: $large_font_size;

    ._currency {
      @extend .jigsaw-medium;
      font-size: $small_font_size;
      padding-top: 5px;
      margin-left: 3px;
    }

    @include breakpoint(portrait) {
      font-size: $large_font_size--portrait;
      ._currency {
        font-size: $small_font_size--portrait;
      }
    }
  }
  .header__balance.cross {
    display: none;
  }

  .icon_atom {
    @include clickbtn;
    text-align: center;

    ._icon {
      display: block;
      margin: 0 auto;

      width: 25px;
      height: 25px;

      @include breakpoint(portrait) {
        width: 35px;
        height: 35px;
      }
    }
  }

  ._settings {
    padding: 10px;
    margin-left: -10px;
    @extend .icon_atom;
  }

  .header__refresh {
    @extend .icon_atom;
    padding: 5px 10px;
    margin-right: -10px;
    ._icon {
      &.loading {
        animation: infinite-spinning 1s linear infinite;
      }
    }

    .svg-refresh {
      fill: white;
    }
  }

  .header__currency {
    @include clickbtn;
    position: absolute;
    right: 20px;
    bottom: 8px;
    font-size: $small_font_size;

    select {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    }

    @include breakpoint(portrait) {
      right: 40px;
      font-size: $small_font_size--portrait;
    }
  }
}

.blocked .widget-header {
  .header__balance.cross, .header__balance.show {
    display: flex;
  }
  .header__balance {
    display: none;
  }
}
