
.tooltip {
  font-size: 18px;
  min-width: 280px;
  max-width: 350px;
  @include breakpoint(portrait) {
    max-width: 450px;
  }
}

.tooltip__cancel {
  @include clickbtn;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 45px;
  height: 45px;
  padding: 10px;
  z-index: 1000;

  .svg-close {
    fill: $grey;
  }
}

.tooltip__message {
  @extend .jigsaw-regular;

  @include breakpoint(portrait) {
    font-size: 24px;
  }
}

.tooltip__link {
  padding-top: 20px;

  @include breakpoint(portrait) {
    font-size: 24px;
  }

  a {
    color: $brand-green;
    &:active {
      text-decoration: underline;
    }
  }
}

.litecoin {
  .tooltip__link {
    a {
      color: $silver;
    }
  }
}
.dogecoin {
  .tooltip__link {
    a {
      color: $dogecoin;
    }
  }
}
.dash {
  .tooltip__link {
    a {
      color: $dash;
    }
  }
}
.ethereum {
  .tooltip__link {
    a {
      color: $ethereal;
    }
  }
}
.ripple {
  .tooltip__link {
    a {
      color: $ripple;
    }
  }
}
.stellar {
  .tooltip__link {
    a {
      color: $stellar;
    }
  }
}
.eos {
  .tooltip__link {
    a {
      color: $eos;
    }
  }
}
.bitcoincash {
  .tooltip__link {
    a {
      color: $bitcoincash;
    }
  }
}
