.changelly_frame {
  .step {
    display: none;
    &.current {
      display: block;
    }
  }
  .csformgroup--with-controls {
    margin-bottom: 5px;
  }
  ._controls {
    margin-bottom: 20px;
    @include breakpoint(portrait) {
      font-size: $base_font_size--portrait;
    }
  }
  .clickable {
    text-decoration: underline;
    cursor: pointer;
  }
  ._powered_by {
    text-align: center;
    @include breakpoint(portrait) {
      font-size: $base_font_size--portrait;
    }
    ._icon {
      display: inline-block;
      vertical-align: middle;
      width: 25px;
      height: 25px;
      @include breakpoint(portrait) {
        width: 32px;
        height: 32px;
      }
      .svg-path {
        fill: #10D078;
      }
    }
  }
}

@import "./enter-amount/_index";
@import "./create/_index";
@import "./awaiting-deposit/_index";
@import "./awaiting/_index";
@import "./complete/_index";
@import "./error/_index";
