.modal-flash {
  ._content {
    text-align: center;
    ._title {
      @extend .jigsaw-bold;
      font-size: $subtitle_font_size;
      @include breakpoint(portrait) {
        font-size: $subtitle_font_size--portrait;
      }
      &.error {
        color: $red;
      }
      &.info {
        color: $yellow;
      }
      &.success {
        color: $brand-green;
      }
    }
    ._message {
      color: darken($grey, 20%);
    }
  }
}
