.moonpay_success {
  padding: 0;
  padding-top: 20px;
  background-color: white;
  min-width: 280px;
  max-width: 450px;

  @include breakpoint(portrait) {
    width: 450px;
    padding-top: 30px;
  }

  background-color: $green;

  ._inputs {
    padding: 20px;
    border-radius: 3px;
    background-color: white;
    display: flex;

    ._cancel {
      @extend .csbtn-base;
      margin-right: 5px;
      max-width: 140px;
      margin: 0 auto;

      color: darken($grey, 20%);
      background-color: $grey;
      box-shadow: 0 2px 0 0 darken($grey, 20%);

      @include breakpoint(portrait) {
        font-size: 24px;
      }

      &:hover {
        color: darken($grey, 20%);
      }
    }
  }

  ._icon {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 120px;
    height: 120px;
    display: block;
    text-align: center;
  }

  ._title {
    color: white;
    font-size: 21px;
    text-align: center;
    padding-bottom: 10px;

    @include breakpoint(portrait) {
      font-size: 28px;
    }
  }

  ._message {
    color: white;
    text-align: center;
    max-width: 180px;
    margin: 0 auto;
    padding-bottom: 40px;
    line-height: 1.3;
    font-size: 13px;

    @include breakpoint(portrait) {
      font-size: 18px;
      max-width: 250px;
    }
  }
}
