.confirm__remove {
  padding: 0;
  background-color: white;
  min-width: 280px;
  max-width: 450px;

  @include breakpoint(portrait) {
    width: 450px;
  }

  ._header {
    font-size: $header_font_size;
    text-align: center;
    padding: 20px 20px 15px;
    border-bottom: 1px solid $grey;

    @include breakpoint(portrait) {
      font-size: $header_font_size--portrait;
      padding: 30px 20px 25px;
    }
  }

  ._content {
    @extend .jigsaw-light;
    text-align: center;
    padding: 20px 20px 0;
    font-size: $large_font_size;
    @include breakpoint(portrait) {
      font-size: $large_font_size--portrait;
    }
  }

  ._inputs {
    padding: 20px;
    background-color: white;
    border-radius: 3px;

    display: flex;

    ._cancel {
      @extend .csbtn-base;
      margin-right: 5px;

      color: darken($grey, 20%);
      background-color: $grey;
      box-shadow: 0 2px 0 0 darken($grey, 20%);

      @include breakpoint(portrait) {
        font-size: $big_font_size--portrait;
      }

      &:hover {
        color: darken($grey, 20%);
      }
    }

    ._remove {
      @extend .csbtn--red;
      margin-left: 5px;

      @include breakpoint(portrait) {
        font-size: $big_font_size--portrait;
      }
    }

    ._remove--processing {
      @extend .csbtn-base;
      position: relative;
      margin-left: 5px;
      color: darken($grey, 20%);
      background-color: $grey;
      transform: translate(0px, 3px);
      box-shadow: 0 0px 0 0;
      &:hover {
        color: darken($grey, 20%);
      }
      ._icon {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -15px;
        margin-left: -15px;
        width: 30px;
        height: 30px;
        display: block;
        animation:  infinite-spinning 1s linear infinite;
        .svg-refresh {
          fill: darken($grey, 20%);
        }
      }
    }
  }
}
