<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ShapeShift</title>
</head>
<body>
  Loading...
<script>
  var accessToken = '<%= accessToken %>';
  var buildType = '<%= buildType %>';
  var data = encodeURIComponent(JSON.stringify(accessToken));
  if (buildType === 'web') {
    window.opener.handleOpenURL('coinspace://?window=shapeshiftLogin&data=' + data);
    window.close();
  } else if (buildType === 'phonegap') {
    window.location = 'coinspace://?window=shapeshiftLogin&data=' + data;
  } else if (buildType === 'electron') {
    window.location = 'coinspace://?window=shapeshiftLogin&data=' + data;
  }
</script>
</body>
</html>
