.widget-settings {

  ._iphone_x {
    @include iphone-x-top;
    background: #fff;
  }

  ._header {
    background: #fff;
    padding: 12px 10px;
    position: relative;
    border-bottom: #e2e2e2 1px solid;
    ._title {
      font-size: $header_font_size;
      font-weight: normal;
      margin: 0 70px;
      text-align: center;
      color: #34a2ff;
      display: block;
      line-height: 25px;
    }
    ._back {
      @include clickbtn;
      position: absolute;
      top: 12px;
      left: 10px;
      color: #999;
      white-space: nowrap;
      line-height: 25px;
      ._icon {
        width: 25px;
        height: 25px;
        display: inline-block;
        vertical-align: top;
        background: url('./assets/img/arrow-left.svg');
        background-size: 25px 25px;
        opacity: 0.6;
      }
    }
  }

  ._section {
    margin: 35px 0;
    outline: 0;
    ._title {
      padding: 0 10px;
      text-transform: uppercase;
      margin-bottom: 0.1em;
      letter-spacing: 1px;
      font-size: $small_font_size;
      color: #555;
      outline: 0;
    }
    ._list_item {
      @include clickbtn;
      display: block;
      background: #fff;
      border-bottom: #e2e2e2 1px solid;
      padding: 10px;
      line-height: 25px;
      position: relative;
      outline: 0;
      ._label {
        @include ellipsis();
        margin-right: 20px;
      }
      ._value {
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -10px;
        color: #999;
      }
      ._arrow_right {
        width: 20px;
        height: 20px;
        background: url('./assets/img/arrow-right.svg');
        background-size: 20px 20px;
        opacity: 0.6;
        display: block;
      }
      &._logout {
        @include clickbtn;
        color: #ff3b30;
        text-align: center;
      }
    }
    &._account {
      margin-top: 20px;
      ._label {
        line-height: 64px;
        margin-left: 70px;
        font-size: $header_font_size;
      }
      ._avatar {
        position: absolute;
        top: 50%;
        margin-top: -32px;
        margin-left: -4px;
        width: 64px;
        height: 64px;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 64px 64px;
        -webkit-clip-path: circle(28px at center);
        clip-path: circle(28px at center);
      }
    }
  }
}
