.widget-settings {
  height: 100%;
  max-width: $max_content_width;
  margin: 0 auto;
  padding-top: 50px;

  .step {
    height: 100%;
    display: none;
    &.current {
      display: block;
    }
  }

  ._iphone_x {
    @include iphone-x-top;
    background: #fff;
  }

  ._header {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-bottom: #e2e2e2 1px solid;
    ._row {
      max-width: $max_content_width;
      margin: 0 auto;
      display: flex;
      padding: 12px 15px;
    }
    ._title {
      flex: 2;
      @include ellipsis();
      font-size: $header_font_size;
      text-align: center;
      line-height: 25px;
      margin-left: 5px;
      margin-right: 5px;
    }
    ._back {
      flex: 1;
      @include ellipsis();
      @include clickbtn;
      color: #34a2ff;
      line-height: 25px;
      transform: translateX(-10px);
      svg {
        float: left;
        width: 25px;
        height: 25px;
        transform: rotate(90deg);
        .svg-arrow {
          fill: #34a2ff;
        }
      }
    }
    ._save {
      flex: 1;
      text-align: right;
      @include ellipsis();
      @include clickbtn;
      color: #34a2ff;
      line-height: 25px;
    }
  }

  ._loader {
    padding: 40px;
    color: $grey;
    text-align: center;
    font-size: $subtitle_font_size;
    @include breakpoint(portrait) {
      font-size: $subtitle_font_size--portrait;
    }
  }

  ._section {
    margin: 35px 0;
    outline: 0;
    input[type=text], input[type=email] {
      outline: 0;
      height: 25px;
      border: 0;
    }
    ._title {
      padding: 0 15px;
      text-transform: uppercase;
      margin-bottom: 2px;
      letter-spacing: 1px;
      font-size: $small_font_size;
      color: #555;
      outline: 0;
    }
    ._description {
      padding: 0 15px;
      margin-top: 2px;
      font-size: $small_font_size;
      color: #555;
      outline: 0;
      a {
        color: #34a2ff;
      }
    }
    ._btn {
      @include clickbtn;
    }
    ._list_item {
      &._danger {
        color: #ff3b30;
        justify-content: center;
      }
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #fff;
      border-bottom: #e2e2e2 1px solid;
      padding: 10px 15px;
      line-height: 25px;
      outline: 0;
      ._label {
        @include ellipsis();
      }
      ._link {
        color: #34a2ff;
      }
      ._trash {
        margin: -10px -15px -10px 0;
        padding: 10px;
        svg {
          fill: #ff3b30;
          display: block;
          width: 20px;
          height: 20px;
        }
      }
      ._arrow {
        margin-right: -5px;
        svg {
          display: block;
          width: 20px;
          height: 20px;
          transform: rotate(-90deg);
          .svg-arrow {
            fill: #b6b6b6;
          }
        }
      }
      ._radio_btn {
        @include clickbtn;
        position: relative;
        display: inline-block;
        width: 55px;
        height: 32px;
        background-color: #ececee;
        border-radius: 32px;
        transition: all 0.3s ease-out;
        &:before {
          content: '';
          display: inline-block;
          width: 28px;
          height: 28px;
          border-radius: 100%;
          background-color: white;
          position: absolute;
          top: 2px;
          right: 24px;
          transition: all 0.3s ease-out;
        }
        &._checked {
          background-color: #5cce59;
          &:before {
            right: 2px;
          }
        }
      }
    }
  }
}

@import "./main/_index";
@import "./account/_index";
@import "./about/_index";
@import "./security/pin/_index";
@import "./security/hardware/_index";
