.widget-settings {
  height: 100%;
  max-width: $max_content_width;
  margin: 0 auto;
  padding-top: 50px;

  .step {
    height: 100%;
    display: none;
    &.current {
      display: block;
    }
  }

  ._iphone_x {
    @include iphone-x-top;
    background: #fff;
  }

  ._header {
    background: #fff;
    padding: 12px 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-bottom: #e2e2e2 1px solid;
    ._row {
      max-width: $max_content_width;
      margin: 0 auto;
      display: flex;
    }
    ._title {
      flex: 2;
      @include ellipsis();
      font-size: $header_font_size;
      text-align: center;
      line-height: 25px;
      margin-left: 5px;
      margin-right: 5px;
    }
    ._back {
      flex: 1;
      @include ellipsis();
      @include clickbtn;
      color: #34a2ff;
      line-height: 25px;
      svg {
        float: left;
        width: 25px;
        height: 25px;
        transform: rotate(90deg);
        .svg-arrow {
          fill: #34a2ff;
        }
      }
    }
    ._save {
      flex: 1;
      text-align: right;
      @include ellipsis();
      @include clickbtn;
      color: #34a2ff;
      line-height: 25px;
    }
  }

  ._section {
    margin: 35px 0;
    outline: 0;
    input[type=text], input[type=email] {
      outline: 0;
      height: 25px;
      border: 0;
    }
    ._title {
      padding: 0 10px;
      text-transform: uppercase;
      margin-bottom: 2px;
      letter-spacing: 1px;
      font-size: $small_font_size;
      color: #555;
      outline: 0;
    }
    ._description {
      padding: 0 10px;
      margin-top: 2px;
      font-size: $small_font_size;
      color: #555;
      outline: 0;
      a {
        color: #34a2ff;
      }
    }
    ._list_item {
      &._danger {
        @include clickbtn;
        color: #ff3b30;
        text-align: center;
      }
      &._btn {
        @include clickbtn;
      }
      display: block;
      background: #fff;
      border-bottom: #e2e2e2 1px solid;
      padding: 10px;
      line-height: 25px;
      position: relative;
      outline: 0;
      ._label {
        @include ellipsis();
        margin-right: 20px;
      }
      ._arrow {
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -10px;
        color: #999;
        svg {
          float: left;
          width: 20px;
          height: 20px;
          transform: rotate(-90deg);
          .svg-arrow {
            fill: #b6b6b6;
          }
        }
      }
    }
  }
}

@import "./main/_index";
@import "./account/_index";
@import "./about/_index";
