.widget-biometry-setup{
  background-color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  text-align: center;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  font-size: $base_font_size;
  @include breakpoint(portrait) {
    font-size: $base_font_size--portrait;
  }
  &._animated {
    transition: transform .3s, opacity .3s;
  }
  opacity: 0;
  transform: translateY(100%);
  &._open {
    opacity: 1;
    transform: translateY(0);
  }

  ._title {
    @extend .jigsaw-medium;
    margin: 10px;
    font-size: $header_font_size;
    @include breakpoint(portrait) {
      font-size: $header_font_size--portrait;
    }
  }

  ._description {
    line-height: 1.3;
    margin-bottom: 40px;
    @include small_font_size;
  }

  ._content {
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
    padding: 20px;

    ._icon {
      padding: 30px;
      svg {
        fill: darken($grey, 20%);
        width: 60px;
        height: 60px;
        @include breakpoint(portrait) {
          width: 80px;
          height: 80px;
        }
      }
    }
  }

  ._footer_link {
    display: block;
    padding: 5px;
    @include clickbtn;
    &:active {
      text-decoration: underline;
    }
    @include small_font_size;
  }
}
