
// structural style for the app

#app {
  display: none;
  height: 100%;
  &.current {
    display: block;
  }
}

.preload {
  opacity: 0;
  height: 0;
  width: 0;
  line-height: 0;
}

#fb_web_ad {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  text-align: center;
  background-color: #fff;
  width: 100%;
  height: 50px;
}
