// Font go here
// ------------------------------------------------------------------------------------

.jigsaw-light {
  font-family: $font_family;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}

.jigsaw-regular {
  font-family: $font_family;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

.jigsaw-medium {
  font-family: $font_family;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

.jigsaw-bold {
  font-family: $font_family;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

