


// Global style variables
// ------------------------------------------------------------------------------------


// font family - update these when external fonts are setup

$font_family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;


// font weights should be descriptive


// font sizes generally used on the html element and some mixins

$base_font_size: 15px;
$base_font_size--portrait: 18px;

$small_font_size: 13px;
$small_font_size--portrait: 16px;

$big_font_size: 16px;
$big_font_size--portrait: 21px;

$header_font_size: 20px;
$header_font_size--portrait: 25px;

$subtitle_font_size: 22px;
$subtitle_font_size--portrait: 30px;

$large_font_size: 30px;
$large_font_size--portrait: 40px;

$btn_font_size: 17px;
$btn_font_size--portrait: 26px;

$base_line_height: 1.5;


// Brand colours

$grey--light: #FAFAFA;
$grey: #CCCDC8;

$blue: #58A1FF;
$yellow: #FBC12C;
$dark-blue: #102E42;

$green: #9AD25C;
$red: #FC8276;

$brand-green: #3cc77a;
$bitcoincash: #f7931a;
$bitcoinsv: #eab300;
$silver: #949da1;
$ethereal: #6f6f70;
$ripple: #3b76a7;
$stellar: #08b5e5;
$eos: #443f54;
$dogecoin: #bb9e33;
$dash: #008de4;
// Sometimes abstract terms are useful:

$foreground:          #333;
$background:          #FDFDFD;

$focus_color:         #4fa1fd;
$alert_color:         #fd9833;

