
.modal-transaction-detail {
  max-width: 520px;

  ._header {
    ._title {
      @include ellipsis();
      font-size: $large_font_size;
      @extend .jigsaw-light;
      @include breakpoint(portrait) {
        font-size: $large_font_size--portrait;
      }
      &.red {
        color: $red;
      }
      &.green {
        color: $brand-green;
      }
    }
    ._status {
      color: $grey;
    }
  }

  ._content {
    .cscode {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      ._address {
        float: left;
      }
      ._number {
        float: right;
      }
    }
    ._more {
      text-decoration: underline;
      width: 100%;
      float: left;
    }
  }
}
