
.transaction__detail {
  padding: 20px;
  min-width: 280px;
  max-width: 350px;

  @include breakpoint(portrait) {
    padding: 40px;
    max-width: 520px;
  }
  @include breakpoint(landscape) {
    max-width: 470px;
  }

  font-size: $big_font_size;
  @extend .jigsaw-light;

  ._amount {
    text-align: center;
    font-size: $large_font_size;

    @include breakpoint(portrait) {
      font-size: $large_font_size--portrait;
    }

    &.red {
      color: $red;
    }
    &.green {
      color: $green;
    }
  }

  ._time {
    text-align: center;
    color: $grey;
    @include breakpoint(portrait) {
      font-size: $big_font_size--portrait;
    }
  }
  ._status {
    text-align: center;
    @include breakpoint(portrait) {
      font-size: $big_font_size--portrait;
    }
  }

  .detail__strings {
    @include wrapdat;
    padding-top: 20px;
    ._title {
      margin-top: 10px;

      @include breakpoint(portrait) {
        font-size: $small_font_size--portrait;
      }
    }
    a._value {
      text-decoration: underline;
    }
    ._value {
      @include textselect;

      background-color: $grey--light;
      box-shadow: inset 0 2px 2px 1px rgba(000,000,000,0.2);
      padding: 10px;
      padding-top: 14px;
      padding-bottom: 14px;
      display: block;
      border-radius: 5px;
      font-size: $small_font_size;
      line-height: 1.8;
      overflow: hidden;

      @include breakpoint(portrait) {
        font-size: $small_font_size--portrait;
      }
      ._address {
        float: left;
      }
      ._number {
        float: right;
      }
    }
    ._more {
      text-decoration: underline;
      width: 100%;
      float: left;
    }
  }
}

.ethereum, .ripple, .stellar {
  .detail__strings {
    padding-top: 5px;
  }
  .transaction__detail {
    ._amount {
      font-size: $subtitle_font_size;
      @include breakpoint(portrait) {
        font-size: $subtitle_font_size--portrait;
      }
    }
    ._status {
      font-size: $subtitle_font_size;
      @include breakpoint(portrait) {
        font-size: $subtitle_font_size--portrait;
      }
    }
  }
}
