.eos_setup_account {
  padding: 0;
  padding-top: 20px;
  background-color: white;
  min-width: 280px;
  max-width: 450px;

  @include breakpoint(portrait) {
    width: 450px;
    padding-top: 30px;
  }

  &._success {
    background-color: $green;
    ._inputs {
      ._cancel {
        margin: 0 auto;
      }
    }
    ._responseIcon {
      margin: 0 auto;
      display: block;
      text-align: center;
    }
    ._responseTitle {
      color: white;
      font-size: $header_font_size;
      text-align: center;
      padding-bottom: 40px;
      max-width: 240px;
      margin: 0 auto;
      @include breakpoint(portrait) {
        font-size: $header_font_size--portrait;
      }
    }
  }

  ._header {
    font-size: $header_font_size;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid $grey;

    @include breakpoint(portrait) {
      font-size: $header_font_size--portrait;
      padding-bottom: 25px;
    }
  }

  ._content {
    padding: 20px 20px 0;
    ._account_name_group {
      display: flex;
      margin-bottom: 20px;

      .input__container {
        @extend .csinput_with_x;
      }

      ._label {
        @include noselect;
        cursor: pointer;
        display: block;
        flex: 1;

        @include breakpoint(portrait) {
          font-size: $base_font_size--portrait;
        }
      }
    }
    ._description {
      @extend .jigsaw-regular;
      @include breakpoint(portrait) {
        font-size: $base_font_size--portrait;
      }
    }
    ._instructions {
      @extend .jigsaw-regular;
      @include wrapdat;
      @include breakpoint(portrait) {
        font-size: $base_font_size--portrait;
        margin-bottom: 40px;
      }
      margin-bottom: 20px;
      a {
        text-decoration: underline;
      }
    }
    ._title {
      @include breakpoint(portrait) {
        font-size: $base_font_size--portrait;
      }
    }
    ._memo_box, ._address_box {
      @extend .address__box;
      ._phonegap_memo, ._phonegap_address {
        @include ellipsis();
        @include textselect;
        @extend .jigsaw-light;
        display: block;
        padding-right: 40px;
      }
      ._memo, ._address {
        @include textselect;
        @extend .jigsaw-light;
        display: block;
        word-break: break-all;
      }
    }

  }

  ._inputs {
    padding: 20px;
    background-color: white;
    border-radius: 0 0 3px 3px;

    display: flex;

    ._cancel, ._back {
      @extend .csbtn-base;
      margin-right: 5px;

      color: darken($grey, 20%);
      background-color: $grey;
      box-shadow: 0 2px 0 0 darken($grey, 20%);

      @include breakpoint(portrait) {
        font-size: $big_font_size--portrait;
      }

      &:hover {
        color: darken($grey, 20%);
      }
    }

    ._confirm {
      @extend .csbtn;
      margin-left: 5px;

      @include breakpoint(portrait) {
        font-size: $big_font_size--portrait;
      }
    }

    ._confirm--processing {
      @extend .csbtn-base;
      position: relative;
      margin-left: 5px;
      color: darken($grey, 20%);
      background-color: $grey;
      transform: translate(0px, 3px);
      box-shadow: 0 0px 0 0;
      &:hover {
        color: darken($grey, 20%);
      }
      ._icon {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -15px;
        margin-left: -15px;
        width: 30px;
        height: 30px;
        display: block;
        animation:  infinite-spinning 1s linear infinite;
        .svg-refresh {
          fill: darken($grey, 20%);
        }
      }
    }
  }
}
