@import "./list/_index";
@import "./search/_index";
@import "./custom/_index";

#tokens {
  .step {
    display: none;
    &.current {
      display: block;
    }
  }
  .loader__message {
    padding: 40px;
    color: $grey;
    text-align: center;
    font-size: $subtitle_font_size;
    @include breakpoint(portrait) {
      font-size: $subtitle_font_size--portrait;
    }
  }

  .tokens_header {
    position: relative;
    ._back {
      cursor: pointer;
      user-select: none;
      color: #999;
      display: inline-block;
      margin-left: -10px;
      margin-bottom: 5px;
      @include breakpoint(portrait) {
        font-size: $base_font_size--portrait;
        margin-bottom: 10px;
      }
      ._icon {
        width: 25px;
        height: 25px;
        background-size: 25px 25px;
        @include breakpoint(portrait) {
          width: 30px;
          height: 30px;
          background-size: 30px 30px;
        }
        display: inline-block;
        vertical-align: top;
        background: url('./assets/img/arrow-left.svg');
        opacity: 0.6;
      }
    }
    ._subtitle {
      font-size: $subtitle_font_size;
      line-height: 1.2;
      text-align: center;
      color: #999;
      margin-bottom: 20px;
      @include breakpoint(portrait) {
        font-size: $subtitle_font_size--portrait;
        margin-bottom: 40px;
      }
    }
  }

  .tokens__message {
    padding: 40px;
    color: $grey;
    text-align: center;

    ._icon {
      @include icon(80px, 80px, block);
      margin: 0 auto;
      margin-bottom: 20px;
      .svg-help {
        fill: $grey;
      }
    }

    ._message {
      font-size: $subtitle_font_size;
      line-height: 1.2;
      @include breakpoint(portrait) {
        font-size: $subtitle_font_size--portrait;
      }
    }
  }

  .token__item {
    @include clickbtn;
    display: flex;
    align-items: center;
    padding: 15px 15px 15px 0;
    border-top: 1px solid darken($grey--light, 10%);

    @include breakpoint(portrait) {
      padding: 30px 30px 30px 0;
    }

    ._icon {
      border-radius: 50%;
      width: 50px;
      height: 50px;
      flex-shrink: 0;
      margin-right: 20px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 100%;
        height: auto;
      }

      @include breakpoint(portrait) {
        width: 80px;
        height: 80px;
      }
    }

    ._name {
      font-size: $big_font_size;
      flex: 1;
      @include breakpoint(portrait) {
        font-size: $big_font_size--portrait;
      }
      ._token {
        margin-right: 10px;
      }
    }

    ._arrow {
      flex-shrink: 0;
      width: 25px;
      height: 25px;
      .svg-arrow {
        fill: $grey;
      }

      @include breakpoint(portrait) {
        width: 40px;
        height: 40px;
      }
    }

    ._add_btn {
      display: inline-block;
      text-decoration: underline;
      margin-right: 10px;
    }
  }

  .token--bitcoin ._icon {
    background-color: $bitcoin;
  }

  .token--bitcoincash ._icon {
    background-color: $bitcoincash;
  }

  .token--bitcoinsv ._icon {
    background-color: $bitcoinsv;
  }

  .token--litecoin ._icon {
    background-color: $litecoin;
  }

  .token--dogecoin ._icon {
    background-color: $dogecoin;
  }

  .token--dash ._icon {
    background-color: $dash;
  }

  .token--ripple ._icon {
    background-color: $ripple;
  }

  .token--stellar ._icon {
    background-color: $stellar;
  }

  .token--eos ._icon {
    background-color: $eos;
  }

  .token--ethereum ._icon {
    background-color: $ethereal;
  }

  .ethereum_tokens {
    .token__item {
      ._remove {
        padding: 13px;
        margin-right: -13px;
        width: 50px;
        height: 50px;
        flex-shrink: 0;

        .svg-close {
          fill: $grey;
        }

        @include breakpoint(portrait) {
          width: 80px;
          height: 80px;
          padding: 20px;
          margin-right: -20px;
        }
      }
    }
  }
}
