#tokens {
  .step {
    display: none;
    &.current {
      display: block;
    }
  }

  ._crypto {
    margin-bottom: 10px;
    @include breakpoint(portrait) {
      margin-bottom: 20px;
    }
  }

  ._token {
    @include clickbtn;
    display: flex;
    align-items: center;
    padding: 15px 15px 15px 0;
    border-bottom: 1px solid darken($grey--light, 10%);

    @include breakpoint(portrait) {
      padding: 30px 30px 30px 0;
    }

    &:last-child {
      border-bottom: 0;
    }

    &__icon_group {
      position: relative;
    }
    &__icon {
      width: 50px;
      height: 50px;
      flex-shrink: 0;
      margin-right: 20px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-height: 100%;
      }
      svg {
        width: 100%;
        height: auto;
      }
      .svg-settings {
        fill: #999;
      }
      @include breakpoint(portrait) {
        margin-right: 40px;
        width: 80px;
        height: 80px;
      }
    }
    &__platform_icon {
      width: 25px;
      height: 25px;
      margin-right: 20px;
      position: absolute;
      right: -10px;
      bottom: 0;
      @include breakpoint(portrait) {
        width: 40px;
        height: 40px;
        margin-right: 40px;
        right: -16px;
      }
    }

    &__details {
      flex: 1;
    }

    &__name {
      font-size: $big_font_size;
      @include breakpoint(portrait) {
        font-size: $big_font_size--portrait;
      }
    }

    &__price {
      color: darken($grey, 20%);
      font-size: $small_font_size;
      @include breakpoint(portrait) {
        font-size: $small_font_size--portrait;
      }
    }

    &__arrow {
      flex-shrink: 0;
      width: 25px;
      height: 25px;
      @include breakpoint(portrait) {
        width: 40px;
        height: 40px;
      }
    }

    &__remove {
      padding: 13px;
      margin-right: -13px;
      width: 50px;
      height: 50px;
      flex-shrink: 0;
      @include breakpoint(portrait) {
        width: 80px;
        height: 80px;
        padding: 20px;
        margin-right: -20px;
      }
    }
  }
}

@import "./list/_index";
@import "./search/_index";
