#tokens {

  &.content {
    padding: 0px;
  }

  ._title {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;

    @include breakpoint(portrait) {
      font-size: 20px;
      padding-left: 40px;
    }
  }
}
.tokens {
  display: block;
}

.token__item {
  @include clear;
  @include clickbtn;
  padding: 15px;

  @include breakpoint(portrait) {
    padding: 30px;
  }

  ._icon {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
    float: left;
    border: 2px solid white;
    margin-right: 20px;

    @include breakpoint(portrait) {
      width: 80px;
      height: 80px;
    }
  }

  ._name {
    @include media-obj;
    font-size: 18px;
    padding-top: 13px;

    @include breakpoint(portrait) {
      font-size: 26px;
      padding-top: 22px;
    }
  }

  ._arrow {
    float: right;
    width: 25px;
    height: 25px;
    margin-top: 13px;

    @include breakpoint(portrait) {
      width: 40px;
      height: 40px;
      margin-top: 22px;
    }
  }
}

.token--bitcoin {
  background-color: $brand-green;
  ._name {
    color: white;
  }
}

.token--bitcoincash {
  background-color: $bitcoincash;
  ._name {
    color: white;
  }
}

.token--litecoin {
  background-color: $silver;
  ._name {
    color: white;
  }
}

.token--ripple {
  background-color: $ripple;
  ._name {
    color: white;
  }
}

.token--stellar {
  background-color: $stellar;
  ._name {
    color: white;
  }
}

.token--eos {
  background-color: $eos;
  ._name {
    color: white;
  }
}

.token--ethereum {
  background-color: $ethereal;
  ._name {
    color: white;
  }
}

.ethereum_tokens {
  .token__item {
    background-color: $ethereal;
    border-top: 1px solid white;
    color: white;
    ._remove {
      padding: 13px;
      width: 50px;
      height: 50px;
      float: right;
      margin-right: -13px;

      @include breakpoint(portrait) {
        width: 80px;
        height: 80px;
        padding: 20px;
        margin-right: -20px;
      }
    }
  }
  .add_btn {
    @include breakpoint(portrait) {
      font-size: 26px;
    }
  }
}
