#send {
  .hidden {
    display: none;
  }
}
.send__form {
  ._help {
    @include clickbtn;
    position: absolute;
    top: 0;
    right: -5px;
    font-size: $small_font_size;
    text-align: center;
    width: 26px;
    height: 26px;
    padding: 4px;
    opacity: 0.4;
    @include breakpoint(portrait) {
      width: 32px;
      height: 32px;
    }
    &:hover {
      opacity: 0.7;
    }
    .svg-help {
      fill: #333;
    }
  }
}

.send__address {

  display: flex;
  margin-bottom: 20px;

  .input__container {
    @extend .csinput_with_x;
  }

  ._label {
    @include noselect;
    cursor: pointer;
    display: block;
    flex: 1;
    margin-right: 10px;

    @include breakpoint(portrait) {
      font-size: $base_font_size--portrait;
    }
  }

  ._btn {
    @extend .csbtn;
    align-self: flex-end;
    margin-bottom: 2px;

    padding: 0;
    width: 42px;
    height: 42px;
    position: relative;

    @include breakpoint(portrait) {
      width: 59px;
      height: 59px;
    }

    ._icon {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -15px;
      margin-left: -15px;

      @include breakpoint(portrait) {
        width: 44px;
        height: 44px;
        margin-top: -22px;
        margin-left: -22px;
      }
    }
  }

  ._btn-qr {
    margin-right: 10px;
  }
}

.send__amount {

  position: relative;

  margin-bottom: 20px;

  ._label, ._max_btn {
    @include noselect;
    cursor: pointer;
    @include breakpoint(portrait) {
      font-size: $base_font_size--portrait;
      margin-top: 40px;
    }
  }
  ._max_btn {
    margin-left: 5px;
    text-decoration: underline;
  }

  ._currency {
    @include noselect;
    @extend .jigsaw-light;
    position: absolute;
    z-index: 500;
    cursor: pointer;
    display: block;
    text-align: right;
    font-size: $big_font_size;
    right: 10px;
    top: 11px;
    opacity: 0.4;

    @include breakpoint(portrait) {
      top: 14px;
    }

    select {
      @extend .jigsaw-light;
      font-size: $big_font_size;
      border: none;
      background-color: transparent;

      &:focus {
        outline: none;
      }

      @include breakpoint(portrait) {
        font-size: $big_font_size--portrait;
      }
    }

    &.dropdown {
      top: 5px;
      right: 3px;
      @include breakpoint(portrait) {
        top: 7px;
      }
    }

    @include breakpoint(portrait) {
      font-size: $big_font_size--portrait;
    }
  }

  ._currency--error {
    @include noselect;
    @extend .jigsaw-light;
    position: absolute;
    z-index: 500;
    cursor: pointer;
    display: block;
    text-align: right;
    font-size: $big_font_size;
    right: 10px;
    top: 9px;
    opacity: 0.4;

    select {
      @extend .jigsaw-light;
      padding-right: 20px;
      font-size: $big_font_size;
      border: none;
      background-color: transparent;

      &:focus {
        outline: none;
      }

    }

    &.dropdown {
      top: 4px;
      right: 3px;
    }
  }

  ._input {
    @extend .generic_box;
    @extend .jigsaw-light;
    padding-left: 10px;
    padding-right: 50px;
    height: auto;
    margin: 0;
    border-radius: 0;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    position: relative;
    z-index: 200;

    &:active, &:focus {
      outline: 0;
      border: 1px solid #999;
    }
    &.fiat {
      padding-right: 70px;
    }

    @include breakpoint(portrait) {
      font-size: $btn_font_size--portrait;
      border-radius: 3px;
      padding-right: 60px;
      &.fiat {
        padding-right: 90px;
      }
    }
  }

  ._error {
    background-color: lighten(red, 40%);
    border: 1px solid red;
  }

}

.send__fee {
  position: relative;
  margin-bottom: 20px;
  @include breakpoint(portrait) {
    font-size: $base_font_size--portrait;
  }
  @include noselect;
  ._select_container {
    display: inline-block;
    position: relative;
    &.multiple {
      text-decoration: underline;
    }
    padding: 0 5px;
    select {
      position: absolute;
      opacity: 0;
      left: 0;
      top: -5px;
      @include breakpoint(portrait) {
        top: 0
      }
    }
  }
  ._label {
    cursor: pointer;
  }
}

.send__optional {

  position: relative;
  margin-bottom: 10px;
  &.last {
    margin-bottom: 20px;
  }
  @include breakpoint(portrait) {
    margin-bottom: 40px;
  }

  ._label {
    @include noselect;
    cursor: pointer;
    display: block;
    @include breakpoint(portrait) {
      font-size: $base_font_size--portrait;
    }
  }

  ._input {
    margin-top: 5px;
    @extend .csinput;
  }
}

._input-group {
  position: relative;
  margin-top: 5px;

  & + ._input-group {
    margin-top: 0;
    ._input {
      margin-top: -1px;
      border-radius: 2px;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      z-index: 300;
      &:focus {
        z-index: 300;
      }
    }
  }
}
