#send {
  .hidden {
    display: none;
  }
}
.send__form {
  margin-bottom: 20px;
  .csformgroup--fee {
    label {
      cursor: default;
    }
  }
}

.send__amount {
  margin-bottom: 20px;

  ._max_btn {
    text-decoration: underline;
    cursor: pointer;
  }

  ._crypto_input {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding-right: 50px;
    @include breakpoint(portrait) {
      padding-right: 60px;
    }
    &--hidden {
      display: none;
    }
  }
  ._fiat_input {
    margin-top: -1px;
    @extend ._crypto_input;
  }
  ._crypto {
    @include noselect;
    @extend .jigsaw-light;
    font-size: $big_font_size;
    pointer-events: none;
    opacity: 0.4;
    position: absolute;
    right: 10px;
    top: 0;
    height: 100%;
    line-height: 42px;
    @include breakpoint(portrait) {
      line-height: 59px;
      font-size: $big_font_size--portrait;
    }
  }
}
