
#qr-canvas {
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

.qr__container {
  font-size: 18px;
  min-width: 280px;
  max-width: 350px;
  @include breakpoint(portrait) {
    max-width: 550px;
  }
  .detail__strings {
    @include wrapdat;
    padding-top: 20px;

    ._title {
      margin-top: 10px;

      @include breakpoint(portrait) {
        font-size: 18px;
      }
    }

    ._value {
      @include textselect;

      background-color: $grey--light;
      box-shadow: inset 0 2px 2px 1px rgba(000,000,000,0.2);
      padding: 10px;
      padding-top: 14px;
      padding-bottom: 14px;
      display: block;
      border-radius: 5px;
      font-size: 13px;
      line-height: 1.8;

      @include breakpoint(portrait) {
        font-size: 22px;
      }
    }

    ._actions {
      text-align: center;
      padding-top: 20px;

      @include breakpoint(portrait) {
        padding-top: 40px;
      }

      ._btn {
        @extend .csbtn;
        display: inline-block;
        width: 36px;
        height: 36px;
        right: 3px;
        top: 50%;
        padding: 0;
        padding-top: 7px;
        border-radius: 2px;

        @include breakpoint(portrait) {
          width: 60px;
          height: 60px;
        }

        ._icon {
          width: 26px;
          height: 26px;
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -13px;
          margin-left: -13px;

          @include breakpoint(portrait) {
            width: 40px;
            height: 40px;
            margin-top: -20px;
            margin-left: -20px;
          }
        }
      }
    }
  }
}



