.widget-pin {
  background-color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 20px;
  overflow: hidden;
  text-align: center;
  height: 100%;
  display: flex;
  flex-flow: column;
  outline: 0;
  font-size: $base_font_size;
  @include breakpoint(portrait) {
    font-size: $base_font_size--portrait;
  }
  transition: transform .3s, opacity .3s;
  opacity: 0;
  transform: translateY(100%);
  &._open {
    opacity: 1;
    transform: translateY(0);
  }
  ._header {
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    ._title {
      font-size: $header_font_size;
      margin-bottom: 10px;
      @include breakpoint(portrait) {
        font-size: $header_font_size--portrait;
        margin-bottom: 20px;
      }
      @extend .jigsaw-medium;
    }
    ._top {
      flex: 1;
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
    }
    ._bottom {
      flex: 1;
    }
    ._dots {
      width: 136px;
      height: 40px;
      margin: 0 auto;
      @include breakpoint(portrait) {
        width: 200px;
        height: 70px;
      }
      input {
        margin-top: -2em;
        opacity: 0;
      }
      &._shake {
        animation: 0.7s shakeX;
      }
    }
    ._dot {
      float: left;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: #eee;
      margin: 10px;
      @include breakpoint(portrait) {
        width: 20px;
        height: 20px;
        margin: 15px;
      }
      &._filled {
        background-color: #333;
      }
    }
    ._spinner {
      display: block;
      width: 25px;
      height: 25px;
      margin: 0 auto;
      margin-top: 5px;
      margin-bottom: 10px;
      animation: infinite-spinning 1s linear infinite;
      .svg-refresh {
        fill: $grey;
      }
      @include breakpoint(portrait) {
        width: 45px;
        height: 45px;
        margin-bottom: 20px;
      }
    }
  }

  ._keyboard {
    flex: 1;
    ._btns {
      width: 100%;
      max-width: 300px;
      @include breakpoint(portrait) {
        max-width: 400px;
      }
      margin: 0 auto;
    }
    ._row {
      display: flex;
    }
    ._btn {
      @include clickbtn;
      flex: 1;
      justify-content: center;
      display: flex;
      align-items: center;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0 10px 5px 10px;
      cursor: pointer;
      &:before {
        content: '';
        padding-top: 100%;
      }
      svg {
        fill: darken($grey, 20%);
        position: absolute;
        width: 24px;
        height: 24px;
        @include breakpoint(portrait) {
          width: 34px;
          height: 34px;
        }
      }
      &._circle {
        border-radius: 50%;
        width: 60px;
        font-size: 40px;
        line-height: 0;
        &:active {
          background-color: #eee;
        }
        @include breakpoint(portrait) {
          font-size: 55px;
        }
      }
      &._back {
        color: darken($grey, 20%);
      }
      &._disabled {
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  @keyframes shakeX {
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
      transform: translateX(10px);
    }
  }
}
