.changelly_create {
  margin-bottom: 25px;
  @include breakpoint(portrait) {
    font-size: $base_font_size--portrait;
  }

  .swap__wrapper {
    position: relative;
    height: 10px;
    @include breakpoint(portrait) {
      height: 20px;
    }
    ._btn {
      cursor: pointer;
      text-align: right;
      user-select: none;
      position: absolute;
      right: 10px;
      padding: 10px;
      top: -17px;
      z-index: 1000;
      ._icon {
        width: 28px;
        height: 28px;
        display: inline-block;
        transform: rotate(90deg);
        .svg-exchange {
          fill: darken($grey, 20%);
        }
        @include breakpoint(portrait) {
          width: 36px;
          height: 36px;
        }
      }
    }
  }
}
