.geo__header {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 30px;
  ._header {
    max-width: $max_content_width;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 97px;

    @include breakpoint(portrait) {
      height: 140px;
      padding-left: 40px;
      padding-right: 40px;
    }

    ._title {
      @extend .jigsaw-light;
      text-align: center;
      flex: 1;
      font-size: $subtitle_font_size;
      @include breakpoint(portrait) {
        font-size: $subtitle_font_size--portrait;
      }
      color: white;
    }

    ._refresh {
      @include clickbtn;
      ._icon {
        display: block;
        width: 38px;
        height: 38px;
        padding: 4px;
        &.loading {
          animation: infinite-spinning 1s linear infinite;
        }
      }

      .svg-refresh {
        fill: white;
      }
    }

    ._cancel {
      @include clickbtn;
      display: block;
      width: 38px;
      height: 38px;
      padding: 4px;
      svg {
        pointer-events: none;
      }
      .svg-close {
        fill: white;
      }
    }
  }
}

.geo__searching {

  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  ._text {
    font-size: $small_font_size;
    text-align: center;
    color: white;
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    z-index: 300;
    ._max-width {
      margin: 0 auto;
      max-width: 160px;
    }
  }
  ._oval {
    @extend .oval;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -49px;
    margin-top: -50px;
    z-index: 100;
    opacity: 0;
  }
}

.geo__pindrop {
  transform: translateY(-100%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  ._pin {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -90px;
    margin-left: -35px;
    display: block;
    width: 70px;
    height: 70px;
    z-index: 200;
  }
}

.geo__results {

  max-width: $max_content_width;
  margin: 0 auto;
  ._item {
    @include clickbtn;
    display: block;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  ._avatar {
    @include icon(120px, 120px, block);
    border-radius: 50%;
    margin: 0 auto;
    background-color: white;
  }

  ._name {
    @extend .jigsaw-light;
    color: white;
    padding-top: 23px;
    font-size: $subtitle_font_size;
    text-align: center;
  }
}

.geo__noresults {

  position: absolute;
  top: 35%;
  left: 50%;
  margin-left: -140px;
  width: 280px;
  z-index: 500;

  ._icon {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    opacity: 0.3;
    transform: rotate(60deg);

    margin-bottom: 5px;
  }

  ._message {
    font-size: $base_font_size;
    text-align: center;
    color: white;
    padding-bottom: 30px;
  }

  &.is_searching {
    ._message {
      opacity: 0.3;
    }
    ._icon {
      opacity: 0.1;
    }
  }
}
