


// Include file - converts to application.css
// ------------------------------------------------------------------------------------


// Assets (used in variables)
@import "core_css/_fonts";

// Global Variables
@import "core_css/_variables";

// Mixins
@import "core_css/mixins/_compass";
@import "core_css/mixins/_snippets";
@import "core_css/mixins/_breakpoints";
@import "core_css/mixins/_icons";

// Reset
@import "core_css/reset/_normalize";
@import "core_css/reset/_formalize";
@import "core_css/_animations";
@import "core_css/_javascript";
@import "core_css/_base";
@import "core_css/atoms/_csbtn";
@import "core_css/atoms/_shapes";
@import "core_css/atoms/_overlays";
@import "core_css/_app";

// widgets
@import "widgets/terms/_index";
@import "widgets/auth/_index";
@import "widgets/frame/_index";
@import "widgets/header/_index";
@import "widgets/tabs/_index";
@import "widgets/sidebar/_index";
@import "widgets/modal/_index";
@import "widgets/modal-flash/_content";
@import "widgets/modal-set-details/_content";
@import "widgets/modal-tooltip/_content";
@import "widgets/geo-overlay/_index";
@import "widgets/modal-confirm-send/_index";
@import "widgets/modal-confirm-remove-account/_index";
@import "widgets/modal-confirm-remove-token/_index";
@import "widgets/modal-import-private-key/_index";
@import "widgets/modal-export-private-keys/_index";
@import "widgets/modal-remove-ads/_content";
@import "widgets/modal-transaction-detail/_content";
@import "widgets/modal-qr/_content";
@import "widgets/account-details/_index";

// pages
@import "pages/send/_index";
@import "pages/receive/_index";
@import "pages/exchange/_index";
@import "pages/history/_index";
@import "pages/tokens/_index";

// loader
@import "loader/_index";
