.moonpay_purchase {
  ._group {
    margin-bottom: 20px;
    &._exchange_rate {
      position: relative;
      margin-bottom: 5px;
      @include breakpoint(portrait) {
        margin-bottom: 10px;
      }
    }
    ._help {
      @include clickbtn;
      position: absolute;
      top: 0;
      right: -5px;
      font-size: $small_font_size;
      text-align: center;
      width: 26px;
      height: 26px;
      padding: 4px;
      opacity: 0.4;
      @include breakpoint(portrait) {
        width: 32px;
        height: 32px;
      }
      &:hover {
        opacity: 0.7;
      }
      .svg-help {
        fill: #333;
      }
    }
  }
  ._max_btn {
    margin-left: 5px;
    cursor: pointer;
    text-decoration: underline;
  }
  ._input-group {
    position: relative;
    &._fiat {
      margin-top: 5px;
    }
  }
  #moonpay_purchase_fiat {
    margin-top: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  #moonpay_purchase_crypto {
    margin-top: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  ._symbol {
    @include noselect;
    @extend .jigsaw-light;
    position: absolute;
    z-index: 500;
    display: block;
    text-align: right;
    font-size: $big_font_size;
    pointer-events: none;
    right: 10px;
    top: 11px;
    opacity: 0.4;
    @include breakpoint(portrait) {
      top: 14px;
      font-size: $big_font_size--portrait;
    }
  }
  ._dropdown {
    display: inline-block;
    position: relative;
    margin-bottom: 0;
    ._value {
      text-decoration: underline;
      @extend .jigsaw-regular;
      cursor: pointer;
    }
    select {
      position: absolute;
      opacity: 0;
      left: 0;
      top: -5px;
      @include breakpoint(portrait) {
        top: 0;
      }
    }
  }
}
