
#history {

  .green {
    color: $green;
  }

  .red {
    color: $red;
  }

  .loadmore__buttons {
    margin-top: 20px;
    @include breakpoint(portrait) {
      margin-top: 40px;
    }
  }

  .loadmore__btn {
    @extend .csbtn;

    @include breakpoint(portrait) {
      font-size: 26px;
      border-radius: 3px;
    }
  }

  .loadmore__btn--validating {
    @extend .csbtn-base;
    position: relative;
    background-color: $grey;
    transform: translate(0px, 3px);
    box-shadow: 0 0px 0 0;
    height: 60px;
    @include breakpoint(portrait) {
      height: 72px;
    }
    ._icon {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -15px;
      margin-left: -15px;
      width: 30px;
      height: 30px;
      animation: infinite-spinning 1s linear infinite;
      @include breakpoint(portrait) {
        margin-top: -18px;
        margin-left: -18px;
        width: 36px;
        height: 36px;
      }
      .svg-refresh {
        fill: darken($grey, 20%);
      }
    }
  }
}

.transactions {
 ._title {
  padding-bottom: 5px;

  @include breakpoint(portrait) {
    font-size: 20px;
  }
 }
}

.transactions__item {
  @include clear;
  @include clickbtn;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid darken($grey--light, 10%);

  @include breakpoint(portrait) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  ._address {
    @include ellipsis();
    @include media-obj;
    @extend .jigsaw-light;
    padding-top: 13px;
    font-size: 21px;

    @include breakpoint(portrait) {
      padding-top: 18px;
      font-size: 26px;
    }
  }

  ._expandBtn {
    @include clickbtn;
    font-size: 16px;
    opacity: 0.4;
  }

  ._detail {
    float: right;
    text-align: right;
    margin-left: 10px;
  }

  ._amount {
    @extend .jigsaw-light;
    font-size: 24px;

    @include breakpoint(portrait) {
      font-size: 32px;
    }
  }

  ._time {
    display: block;
    font-size: 14px;
    margin-top: -5px;
    color: $grey;
    @include breakpoint(portrait) {
      font-size: 16px;
    }
  }

}

.transactions__message {
  padding: 40px;
  color: $grey;
  text-align: center;

  ._icon {
    @include icon(80px, 80px, block);
    margin: 0 auto;
    margin-bottom: 20px;
    .svg-help {
      fill: $grey;
    }
  }

  ._message {
    font-size: 24px;
    line-height: 1.2;
    @include breakpoint(portrait) {
      font-size: 32px;
    }
  }

}

.ethereum, .ripple {
  .transactions__item {
    ._amount {
      font-size: 18px;
      @include breakpoint(portrait) {
        font-size: 24px;
      }
    }
  }
}
