
.overlay--geo {
  @extend .overlay;
  overflow-y: auto;
  background-color: $blue;
}

.geo__header {
  padding-top: 29px;
  padding-bottom: 29px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: space-between;

  @include breakpoint(iphone5) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  ._title {
    @extend .jigsaw-light;
    text-align: center;
    flex: 1;
    font-size: 22px;
    padding-top: 5px;
    color: white;
  }

  ._refresh {
    @include clickbtn;
    margin-left: 20px;
    ._icon {
      display: block;
      width: 38px;
      height: 38px;
      padding: 4px;
      &.loading {
        animation: infinite-spinning 1s linear infinite;
      }
    }

    .svg-refresh {
      fill: white;
    }
  }

  ._cancel {
    @include clickbtn;
    margin-right: 20px;
    display: block;
    width: 38px;
    height: 38px;
    padding: 4px;
  }
}



.geo__searching {

  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  ._text {
    font-size: 14px;
    text-align: center;
    color: white;
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    z-index: 300;
    ._max-width {
      margin: 0 auto;
      max-width: 160px;
    }
  }
  ._oval {
    @extend .oval;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -49px;
    margin-top: -50px;
    z-index: 100;
    opacity: 0;
  }
}

.geo__pindrop {
  transform: translateY(-100%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  ._pin {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -90px;
    margin-left: -35px;
    display: block;
    width: 70px;
    height: 70px;
    z-index: 200;
  }
}

.geo__results {

  ._item {
    @include clickbtn;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }

  ._avatar {
    @include icon(120px, 120px, block);
    clip-path: circle(52px at center);
    margin: 0 auto;
  }

  ._name {
    @extend .jigsaw-light;
    color: white;
    padding-top: 23px;
    font-size: 24px;
    text-align: center;
  }
}


.geo__noresults {

  position: absolute;
  top: 35%;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  z-index: 500;

  ._icon {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    opacity: 0.3;
    transform: rotate(60deg);

    margin-bottom: 5px;
  }

  ._message {
    font-size: 16px;
    text-align: center;
    color: white;
    padding-bottom: 30px;
  }

  ._btn {
    @extend .csbtn--yellow;
  }

  &.is_searching {
    ._message {
      opacity: 0.3;
    }
    ._icon {
      opacity: 0.1;
    }
  }
}
