.widget-dropdown {
  margin-top: 5px;
  @extend .generic_box;
  @extend .jigsaw-light;
  padding: 0;
  border-radius: 2px;
  height: 46px;
  position: relative;
  min-width: 50px;

  &:active, &:focus {
    outline: 0;
    border: 1px solid #999;
  }

  @include breakpoint(portrait) {
    height: 61px;
    min-width: 100px;
    font-size: 26px;
    border-radius: 3px;
  }

  .wd_value {
    position: absolute;
    pointer-events: none;
    width: 100%;
    top: 10px;
    padding-left: 10px;
    padding-right: 20px;
    &:after {
      content: "";
      height: 100%;
      width: 100%;
      opacity: 0.4;
      position: absolute;
      top: 0;
      right: 3px;
      background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
      background-repeat: no-repeat;
      background-position: right center;
    }
    @include breakpoint(portrait) {
      top: 11px;
      &:after {
        right: 6px;
      }
    }
  }
  select {
    opacity: 0;
    font-size: 18px;
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-right: 20px;
    &:focus {
      outline: none;
    }
    @include breakpoint(portrait) {
      font-size: 26px;
    }
  }
}
