// main btn style
.csbtn-base {
  @include clickbtn;
  display: block;
  width: 100%;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  padding-left: 15px;
  padding-right: 15px;

  padding-top: 18px;
  padding-bottom: 15px;
  border-radius: 2px;

  color: white;
  text-align: center;
  font-size: $btn_font_size;
  line-height: 27px;

  background-color: $brand-green;
  box-shadow: 0 2px 0 0 darken($brand-green, 10%);

  transition: none;
  position: relative;

  &:active {
    transform: translate(0px, 3px);
    box-shadow: 0 0px 0 0;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  @include breakpoint(portrait) {
    font-size: $btn_font_size--portrait;
    border-radius: 3px;
    line-height: 40px;
  }
}

.csbtn {
  @extend .csbtn-base;

}

.csbtn--icon {
  @extend .csbtn;
  ._icon {
    display: block;
    margin: 0 auto;
    width: 27px;
    height: 27px;
    @include breakpoint(portrait) {
      width: 40px;
      height: 40px;
    }
  }
}

.csbtn--loading {
  @extend .csbtn-base;
  position: relative;
  background-color: $grey;
  transform: translate(0px, 3px);
  box-shadow: 0 0px 0 0;
  height: 60px;
  @include breakpoint(portrait) {
    height: 73px;
  }
  ._icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    animation: infinite-spinning 1s linear infinite;
    @include breakpoint(portrait) {
      margin-top: -18px;
      margin-left: -18px;
      width: 36px;
      height: 36px;
    }
    .svg-refresh {
      fill: darken($grey, 20%);
    }
  }
}

.ethereum {
  .csbtn {
    background-color: $ethereal;
    box-shadow: 0 2px 0 0 darken($ethereal, 10%);
  }
}

.ripple {
  .csbtn {
    background-color: $ripple;
    box-shadow: 0 2px 0 0 darken($ripple, 10%);
  }
}

.stellar {
  .csbtn {
    background-color: $stellar;
    box-shadow: 0 2px 0 0 darken($stellar, 10%);
  }
}

.eos {
  .csbtn {
    background-color: $eos;
    box-shadow: 0 2px 0 0 darken($eos, 10%);
  }
}

.bitcoincash {
  .csbtn {
    background-color: $bitcoincash;
    box-shadow: 0 2px 0 0 darken($bitcoincash, 10%);
  }
}

.bitcoinsv {
  .csbtn {
    background-color: $bitcoinsv;
    box-shadow: 0 2px 0 0 darken($bitcoinsv, 10%);
  }
}

.litecoin {
  .csbtn {
    background-color: $silver;
    box-shadow: 0 2px 0 0 darken($silver, 10%);
  }
}

.dogecoin {
  .csbtn {
    background-color: $dogecoin;
    box-shadow: 0 2px 0 0 darken($dogecoin, 10%);
  }
}

.dash {
  .csbtn {
    background-color: $dash;
    box-shadow: 0 2px 0 0 darken($dash, 10%);
  }
}

.csbtn--red {
  @extend .csbtn-base;

  background-color: #da553e;
  box-shadow: 0 3px 0 0 darken(#da553e, 10%);
}

.csbtn--yellow {
  @extend .csbtn-base;

  background-color: $yellow;
  box-shadow: 0 3px 0 0 darken($yellow, 10%);
  color: darken($yellow, 20%);
}

.csbtn--grey {
  @extend .csbtn-base;

  background-color: $grey;
  box-shadow: 0 2px 0 0 darken($grey, 20%);
  color: darken($grey, 20%);
}


