.cscode {
  @extend .jigsaw-light;
  @include textselect;
  @include wrapdat;
  overflow: hidden;
  background-color: $grey--light;
  box-shadow: inset 0 2px 2px 1px rgba(0,0,0,0.2);
  padding: 10px;
  padding-top: 14px;
  padding-bottom: 14px;
  display: block;
  border-radius: 5px;
  line-height: 1.8;
  font-size: $small_font_size;
  @include breakpoint(portrait) {
    font-size: $small_font_size--portrait;
  }
}
a.cscode {
  text-decoration: underline;
}
