.csdropdown {
  $self: &;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid $grey;
  background-color: $grey--light;
  border-radius: 2px;
  overflow: hidden;
  height: 44px;

  &:focus-within {
    border: 1px solid #999;
  }

  @include breakpoint(portrait) {
    border-radius: 3px;
    height: 61px;
  }

  &__label {
    @extend .jigsaw-light;
    @include ellipsis();
    pointer-events: none;
    padding-left: 10px;
    padding-right: 20px;

    @include breakpoint(portrait) {
      padding-right: 30px;
    }

    &:after {
      content: "";
      height: 100%;
      width: 100%;
      opacity: 0.4;
      position: absolute;
      top: 0;
      right: 3px;
      background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
      background-repeat: no-repeat;
      background-position: right center;
      @include breakpoint(portrait) {
        right: 6px;
      }
    }
  }

  &__dropdown {
    position: absolute;
    top: 0;
    opacity: 0;
    font-size: $big_font_size;
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-right: 20px;
    outline: 0;
    @include breakpoint(portrait) {
      font-size: $big_font_size--portrait;
      padding-right: 30px;
    }
  }
}
