.csformgroup {
  display: flex;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  label {
    cursor: pointer;
  }
  .csbtn {
    align-self: flex-end;
    margin-bottom: 2px;
    padding: 0;
    width: 42px;
    height: 42px;
    position: relative;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
    @include breakpoint(portrait) {
      width: 59px;
      height: 59px;
    }
    &__icon {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -15px;
      margin-left: -15px;
      @include breakpoint(portrait) {
        width: 44px;
        height: 44px;
        margin-top: -22px;
        margin-left: -22px;
      }
    }
  }

  &__input-group {
    @include noselect;
    flex: 1;
    min-width: 0;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
    @include breakpoint(portrait) {
      font-size: $base_font_size--portrait;
    }
    &__header {
      margin-bottom: 5px;
      position: relative;
      text-align: left;
    }
  }

  &__select-container {
    @extend .jigsaw-medium;
    display: inline-block;
    position: relative;
    text-decoration: underline;
    padding: 0 5px;
    select {
      position: absolute;
      opacity: 0;
      left: 0;
      top: 0;
    }
  }

  &__help {
    @include clickbtn;
    position: absolute;
    top: 0;
    right: -5px;
    width: 26px;
    height: 26px;
    padding: 4px;
    @include breakpoint(portrait) {
      width: 32px;
      height: 32px;
    }
    &:hover {
      opacity: 0.9;
    }
  }

  &--readonly {
    label {
      cursor: default;
    }
    .csinput__input {
      cursor: default;
    }
  }
}
