.csformgroup {
  display: flex;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  label {
    padding-right: 5px;
    cursor: pointer;
  }
  .csbtn {
    align-self: flex-end;
    margin-bottom: 2px;
    padding: 0;
    width: 42px;
    height: 42px;
    position: relative;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
    @include breakpoint(portrait) {
      width: 59px;
      height: 59px;
    }
    &__icon {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -15px;
      margin-left: -15px;
      @include breakpoint(portrait) {
        width: 44px;
        height: 44px;
        margin-top: -22px;
        margin-left: -22px;
      }
    }
  }

  &__input-group {
    flex: 1;
    min-width: 0;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
    @include breakpoint(portrait) {
      font-size: $base_font_size--portrait;
    }
    &__header {
      @include noselect;
      margin-bottom: 5px;
      position: relative;
      display: flex;
      text-align: left;
      &__help {
        @include clickbtn;
        width: 18px;
        height: 18px;
        margin-top: 4px;
        margin-left: 4px;
        flex-shrink: 0;
        @include breakpoint(portrait) {
          width: 26px;
          height: 26px;
        }
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }

  &__select-container {
    @extend .jigsaw-medium;
    display: inline-block;
    position: relative;
    text-decoration: underline;
    select {
      position: absolute;
      opacity: 0;
      left: 0;
      top: 0;
    }
  }

  &--readonly {
    label {
      cursor: default;
    }
    .csinput__input {
      cursor: default;
    }
  }

  &--hidden {
    display: none;
  }
}
