// Header with back button
.csheader-back {
  &__btn {
    @include clickbtn;
    color: #999;
    margin-left: -10px;
    margin-bottom: 10px;
    @include breakpoint(portrait) {
      font-size: $base_font_size--portrait;
      margin-bottom: 20px;
    }
    &__icon {
      width: 25px;
      height: 25px;
      @include breakpoint(portrait) {
        width: 30px;
        height: 30px;
      }
      svg {
        transform: rotate(90deg);
      }
      display: inline-block;
      vertical-align: top;
    }
  }
}
