.csinput {
  $self: &;
  position: relative;
  border: 1px solid $grey;
  background-color: $grey--light;
  border-radius: 2px;
  overflow: hidden;
  height: 44px;

  &:focus-within {
    border: 1px solid #999;
  }

  @include breakpoint(portrait) {
    border-radius: 3px;
    height: 61px;
  }

  &__input {
    @extend .jigsaw-light;
    @include ellipsis();
    @include textselect;
    background-color: $grey--light;
    padding: 10px;
    height: 100%;
    cursor: pointer;
    outline: 0;
    &[data-clipboard-text] {
      cursor: pointer;
    }
  }

  &--multi {
    height: auto;
    min-height: 44px;
    max-height: 250px;
    overflow-y: auto;
    #{ $self }__input {
      @include wrapdat;
    }
  }

  &--with-x {
    padding-right: 38px;
    @include breakpoint(portrait) {
      padding-right: 58px;
    }
    #{ $self }__input {
      padding: 10px 0 10px 10px;
    }
    #{ $self }__cross {
      @include clickbtn;
      width: 35px;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      @include breakpoint(portrait) {
        width: 54px;
      }
      &__icon {
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -10px;
        @include breakpoint(portrait) {
          width: 30px;
          height: 30px;
          right: 15px;
          margin-top: -15px;
        }
      }
    }
  }

  &--with-dropdown {
    padding-right: 100px;
    #{ $self }__dropdown {
      @include noselect;
      @extend .jigsaw-light;
      background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
      background-repeat: no-repeat;
      background-position: right center;
      position: absolute;
      z-index: 500;
      cursor: pointer;
      display: block;
      text-align: right;
      font-size: $big_font_size;
      top: 0;
      bottom: 0;
      right: 3px;
      opacity: 0.4;
      width: 100px;
      @include breakpoint(portrait) {
        font-size: $big_font_size--portrait;
      }
      #{ $self }__dropdown__label {
        position: absolute;
        right: 27px;
        height: 100%;
        line-height: 42px;
        @include breakpoint(portrait) {
          line-height: 59px;
        }
      }
      select {
        opacity: 0;
        background-color: transparent;
        height: 100%;
      }
    }
  }
}
