

.overlay {
  display: none;
  opacity: 0;

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background-color: $background;

  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

// inside overlay
.modal {
  @include clickbtn;
  display: flex;
  min-height: 100%;
  align-items: center;
  padding: 20px;
}

.modal__content {
  cursor: default;
  position: relative;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  background-color: $background;
  box-shadow: 0 2px 2px 1px rgba(000,000,000,0.2);

  padding:40px;

  @include breakpoint(portrait) {
    padding:60px;
  }
}

.modal__cancel {
  @include clickbtn;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 45px;
  height: 45px;
  padding: 10px;
  z-index: 1000;


  @include breakpoint(portrait) {
    width: 50px;
    height: 50px;
    top: 5px;
    right: 5px;
  }

  .svg-close {
    fill: $grey;
  }
}


// hacky fix for overlay ordering...

.z-1000 {
  z-index: 1000;
  * {
    z-index: 9000;
  }
}

.z-9000 {
  z-index: 9000;
  * {
    z-index: 9000;
  }
}
