.overlay {
  display: none;
  opacity: 0;

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background-color: $background;

  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &__container {
    @include clickbtn;
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding: 20px;
  }

  &__iphone-x {
    @include iphone-x-top;
  }

  &--flash {
    background-color: rgba(0, 0, 0, 0.5);
  }

  &--geo {
    background-color: $blue;
  }
}

// hacky fix for overlay ordering...
.z-1000 {
  z-index: 1000;
  * {
    z-index: 9000;
  }
}

.z-9000 {
  z-index: 9000;
  * {
    z-index: 9000;
  }
}
