
.generic_box {
  border: 1px solid $grey;
  background-color: $grey--light;
  border-radius: 3px;
  padding: 10px 10px;
}

.oval {
  width: 100px;
  height: 50px;
  background: darken($blue, 10%);
  border-radius: 50px / 25px;
}
