.moonpay_frame {
  .step {
    display: none;
    &.current {
      display: block;
    }
  }
  .loader_message {
    padding: 40px;
    color: $grey;
    text-align: center;
    font-size: $subtitle_font_size;
    @include breakpoint(portrait) {
      font-size: $subtitle_font_size--portrait;
    }
  }

  // Common
  ._header {
    position: relative;
    ._back {
      cursor: pointer;
      user-select: none;
      color: #999;
      display: inline-block;
      margin-left: -10px;
      margin-bottom: 10px;
      @include breakpoint(portrait) {
        font-size: $base_font_size--portrait;
        margin-bottom: 20px;
      }
      ._icon {
        width: 25px;
        height: 25px;
        background-size: 25px 25px;
        @include breakpoint(portrait) {
          width: 30px;
          height: 30px;
          background-size: 30px 30px;
        }
        display: inline-block;
        vertical-align: top;
        background: url('./assets/img/arrow-left.svg');
        opacity: 0.6;
      }
    }
  }
  ._message {
    @extend .jigsaw-regular;
    @include breakpoint(portrait) {
      font-size: $base_font_size--portrait;
    }
  }

  ._group {
    @include noselect;
    @include breakpoint(portrait) {
      font-size: $base_font_size--portrait;
    }
    ._label {
      cursor: pointer;
    }
    ._input {
      @extend .csinput;
      margin-top: 5px;
    }
  }

  ._confirm_btn_group {
    margin-top: 20px;
    @include breakpoint(portrait) {
      margin-top: 40px;
    }
  }
}

@import "./auth/_index";
@import "./main/_index";
@import "./verification/_index";
@import "./payment-methods/_index";
@import "./purchase/_index";
@import "./history/_index";
