.widget-settings-main {
  ._section {
    &._account {
      margin-top: 20px;
      ._avatar_group {
        display: flex;
        overflow: hidden;
      }
      ._label {
        line-height: 64px;
        margin-left: 10px;
        font-size: $header_font_size;
      }
      ._avatar {
        flex-shrink: 0;
        margin-left: -4px;
        width: 64px;
        height: 64px;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 64px 64px;
        -webkit-clip-path: circle(28px at center);
        clip-path: circle(28px at center);
      }
    }
  }
}
