.widget-settings-main {
  ._section {
    &._account {
      margin-top: 20px;
      ._avatar_group {
        display: flex;
        overflow: hidden;
      }
      ._label {
        line-height: 64px;
        margin-left: 10px;
        font-size: $header_font_size;
      }
      ._avatar {
        flex-shrink: 0;
        width: 64px;
        height: 64px;
        border-radius: 50%;
      }
    }
  }
}
