.modal-confirm-send {
  text-align: center;
  ._amount {
    @extend .jigsaw-light;
    display: flex;
    justify-content: center;
    ._value {
      font-size: $large_font_size;
      @include breakpoint(portrait) {
        font-size: $large_font_size--portrait;
      }
    }
    ._currency {
      padding-top: 5px;
      margin-left: 3px;
    }
    margin-bottom: 10px;
  }
  ._fee {
    font-size: $small_font_size;
    color: darken($grey, 10%);
    @include breakpoint(portrait) {
      font-size: $small_font_size--portrait;
    }
    margin-bottom: 10px;
  }
  ._import-tx-fee {
    select {
      opacity: 0;
      position: absolute;
      left: 0;
      width: 100%;
      margin-top: -25px;
    }
    ._multiple {
      text-decoration: underline;
    }
  }
  ._arrow_down {
    width: 25px;
    height: 25px;
    margin: 0 auto;
    color: $grey;
    @include breakpoint(portrait) {
      width: 40px;
      height: 40px;
    }
    margin-bottom: 10px;
  }
  ._info {
    @extend .jigsaw-light;
    font-size: $small_font_size;
    @include breakpoint(portrait) {
      font-size: $small_font_size--portrait;
    }
    &--bold {
      @extend .jigsaw-medium;
    }
  }
}
