
.overlay--confirm {
  @extend .overlay;
  overflow-y: auto;
  background-color: rgba(0,0,0,0.6x);
}

.confirm {
  padding: 0;
  padding-top: 20px;
  background-color: white;
  min-width: 280px;
  max-width: 450px;

  @include breakpoint(portrait) {
    width: 450px;
    padding-top: 30px;
  }

  &._error {
    background-color: $red;
  }
  &._success {
    background-color: $green;
  }
}


.confirm__header {
  font-size: 21px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid $grey;

  @include breakpoint(portrait) {
    font-size: 24px;
    padding-bottom: 20px;
  }
}

.confirm__transaction{

  text-align: center;
  padding-left: 20px;
  padding-right: 20px;

  ._amount {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;

    ._value {
      @extend .jigsaw-light;
      font-size: 32px;

      @include breakpoint(portrait) {
        font-size: 48px;
      }
    }

    ._currency {
      @extend .jigsaw-light;
      font-size: 14px;
      padding-top: 6px;
      margin-left: 3px;

      @include breakpoint(portrait) {
        font-size: 18px;
      }
    }
  }

  ._fee {
    display: block;
    font-size: 12px;
    color: $grey;
    text-align: center;
    padding-top: 10px;

    @include breakpoint(portrait) {
      font-size: 18px;
    }
  }

  ._dynamic-fee {
    select {
      opacity: 0;
      position: absolute;
      left: 0;
      width: 100%;
      margin-top: -25px;
    }
    ._fee {
      text-decoration: underline;
    }
  }

  ._icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-top: 5px;
    color: $grey;

    @include breakpoint(portrait) {
      width: 40px;
      height: 40px;
    }
  }

  ._address {
    @include wrapdat;
    @extend .jigsaw-light;
    font-size: 13px;
    display: block;
    text-align: center;
    @include breakpoint(portrait) {
      font-size: 18px;
    }
  }
}

.confirm__inputs {

  padding: 20px;
  background-color: white;
  border-radius: 3px;

  display: flex;

  ._cancel {
    @extend .csbtn-base;
    margin-right: 5px;

    color: darken($grey, 20%);
    background-color: $grey;
    box-shadow: 0 2px 0 0 darken($grey, 20%);

    @include breakpoint(portrait) {
      font-size: 24px;
    }

    &:hover {
      color: darken($grey, 20%);
    }
  }

  ._report {
    @extend .csbtn--red;
    margin-right: 5px;

    @include breakpoint(portrait) {
      font-size: 24px;
    }
  }

  ._send {
    @extend .csbtn;
    margin-left: 5px;

    @include breakpoint(portrait) {
      font-size: 24px;
    }
  }

  ._send--sending {
    @extend .csbtn-base;
    position: relative;
    margin-left: 5px;
    color: darken($grey, 20%);
    background-color: $grey;
    transform: translate(0px, 3px);
    box-shadow: 0 0px 0 0;
    &:hover {
      color: darken($grey, 20%);
    }
    ._icon {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -15px;
      margin-left: -15px;
      width: 30px;
      height: 30px;
      display: inline;
      animation:  infinite-spinning 1s linear infinite;
      .svg-refresh {
        fill: darken($grey, 20%);
      }
    }
  }
}

.confirm__responseIcon {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 120px;
  height: 120px;
  display: block;
  text-align: center;
}

.confirm__responseTitle {
  color: white;
  font-size: 21px;
  text-align: center;
  padding-bottom: 10px;

  @include breakpoint(portrait) {
    font-size: 28px;
  }
}

.confirm__responseMsg {
  color: white;
  text-align: center;
  max-width: 180px;
  margin: 0 auto;
  padding-bottom: 40px;
  line-height: 1.3;
  font-size: 13px;

  @include breakpoint(portrait) {
    font-size: 18px;
    max-width: 250px;
  }
}

._error, ._success {

  .confirm__inputs {

    background-color: white;
    display: flex;

    ._cancel {
      max-width: 140px;
      margin: 0 auto;
    }

  }
}
