.auth_choose {

  ._img {
    height: 120px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    svg {
      height: 100%;
    }
    @include breakpoint(portrait) {
      height: 150px;
      margin-bottom: 40px;
    }
  }
}
