.auth_choose {

  ._img {
    height: 90px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    svg {
      height: 100%;
    }
    @include breakpoint(portrait) {
      height: 120px;
      margin-bottom: 40px;
    }
  }

  ._store {
    display: inline-block;
    width: 125px;
    padding-top: 5px;
    &._android {
      margin-right: 2px;
    }
    &._ios {
      margin-left: 2px;
    }
    @include breakpoint(portrait) {
      width: 140px;
    }
  }
}
