.widget-passphrase {
  background-color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $base_font_size;
  @include breakpoint(portrait) {
    font-size: $base_font_size--portrait;
  }
  &._animated {
    transition: transform .3s, opacity .3s;
  }
  opacity: 0;
  transform: translateY(100%);
  &._open {
    opacity: 1;
    transform: translateY(0);
  }
  h2 {
    font-size: $header_font_size;
    line-height: 1.3;
    padding-top: 10px;
    padding-bottom: 30px;
    @include breakpoint(portrait) {
      font-size: $header_font_size--portrait;
      line-height: 1.3;
      padding-bottom: 40px;
    }
  }

  ._content {
    width: 100%;
    max-width: 380px;
    @include breakpoint(portrait) {
      max-width: 380px;
    }
    padding: 10px;
  }

  ._group {
    display: flex;
    margin-bottom: 40px;
    text-align: left;
    ._label {
      @include noselect;
      cursor: pointer;
      display: block;
      flex: 1;
    }
    ._input_container {
      @extend .csinput_with_x;
    }
  }

  ._btn_group {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 4px;
    box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.25);
    @include breakpoint(portrait) {
      padding: 20px;
    }
    .csbtn {
      &._disabled {
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }
  ._footer_link {
    display: block;
    padding: 5px;
    @include clickbtn;
    &:active {
      text-decoration: underline;
    }
    @include small_font_size;
  }
}
