.widget-passphrase {
  background-color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  text-align: center;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-size: $base_font_size;
  @include breakpoint(portrait) {
    font-size: $base_font_size--portrait;
  }
  &._animated {
    transition: transform .3s, opacity .3s;
  }
  opacity: 0;
  transform: translateY(100%);
  &._open {
    opacity: 1;
    transform: translateY(0);
  }
  ._header {
    @extend .jigsaw-medium;
    padding: 20px;
    font-size: $header_font_size;
    @include breakpoint(portrait) {
      font-size: $header_font_size--portrait;
    }
  }

  ._content {
    width: 100%;
    max-width: 380px;
    padding: 20px;
  }

  .csformgroup {
    margin-bottom: 20px;
  }

  ._footer_link {
    display: block;
    padding: 5px;
    @include clickbtn;
    &:active {
      text-decoration: underline;
    }
    @include small_font_size;
  }

  ._suggestions {
    display: flex;
    flex-wrap: wrap;
    min-height: 42px;
    @include breakpoint(portrait) {
      min-height: 47px;
    }
    &__word {
      text-overflow: ellipsis;
      overflow: hidden;
      text-decoration: underline;
      cursor: pointer;
      padding: 10px;
    }
  }
}
