
.frame {
  display: flex;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

#main {
  background-color: $background;
  flex: 1;
  min-width: 0;

  display: none;
  &.current {
    display: block;
  }

  .content {
    display: none;
    padding: 40px 20px;
    max-width: $max_content_width;
    margin: 0 auto;
    &.current {
      display: block;
    }
    @include breakpoint(portrait) {
      padding: 80px 40px;
    }
  }
}

.main__iphone_x {
  @include iphone-x-top;
  background-color: darken($brand-green, 30%);
}

#settings {
  flex: 1;
  min-width: 0;
  background-color: #f2f2f2;

  display: none;
  &.current {
    display: block;
  }
}
