
.frame {
  display: flex;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

#main {
  @include clear;
  position: relative;
  background-color: $background;
  flex: 1; // take up full width
  min-width: 0;

  transition: transform .3s, opacity 0.3s, margin 0s;
  transform: translateX(0);
  box-shadow: -5px 0px 15px 0px rgba(25,25,25,0.3);
  -webkit-transition-delay: 0s, 0s, 0s;
     -moz-transition-delay: 0s, 0s, 0s;
      -ms-transition-delay: 0s, 0s, 0s;
       -o-transition-delay: 0s, 0s, 0s;
          transition-delay: 0s, 0s, 0s;

  &.closed {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(273px);
    overflow: hidden;
  }

  &.terms-open {transform: translateX(0); opacity: 0; margin-left: 10000px;
    -webkit-transition-delay: 0s, 0s, 0.3s;
       -moz-transition-delay: 0s, 0s, 0.3s;
        -ms-transition-delay: 0s, 0s, 0.3s;
         -o-transition-delay: 0s, 0s, 0.3s;
            transition-delay: 0s, 0s, 0.3s;
  }

  .content {

    display: none;
    padding: 20px;

    &.current {
      display: block;
    }
    @include breakpoint(portrait) {
      padding: 40px;
    }
  }

  @include breakpoint(portrait) {
    &.closed {
      transform: translateX(320px);
    }
  }
}

.main__iphone_x {
  @include iphone-x-top;
  background-color: darken($brand-green, 30%);
}
.litecoin {
  .main__iphone_x {
    background-color: darken($silver, 30%);
  }
}
.ethereum {
  .main__iphone_x {
    background-color: darken($ethereal, 30%);
  }
}
.ripple {
  .main__iphone_x {
    background-color: darken($ripple, 30%);
  }
}
.bitcoincash {
  .main__iphone_x {
    background-color: darken($bitcoincash, 30%);
  }
}

#sidebar {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 273px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  color: #333;
  background-color: white;


  transform: translateX(-100%);
  transition: transform .3s ease;

  &.animating {
    position: fixed;
    bottom: auto;
  }

  &.open {
    transform: translateX(0);
    position: relative;
  }

  @include breakpoint(portrait) {
    width: 320px;
  }
}

#terms {
  @include clear;
  position: relative;
  background-color: #f2f2f2;
  flex: 1; // take up full width
  min-width: 0;
  transition: transform .3s, opacity 0.3s, margin 0s;
  transform: translateX(0);
  box-shadow: -5px 0px 15px 0px rgba(25,25,25,0.3);
  margin-top: -10000px;
  opacity: 0;

  &.closed {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(273px);
    overflow: hidden;
  }

  &.terms-open {margin-top: 0; opacity: 1;}

  @include breakpoint(portrait) {
    &.closed {
      transform: translateX(320px);
    }
  }
}
