
.frame {
  display: flex;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

#main {
  background-color: $background;
  flex: 1;
  min-width: 0;

  display: none;
  &.current {
    display: block;
  }

  .content {
    display: none;
    padding: 20px;
    &.current {
      display: block;
    }
    @include breakpoint(portrait) {
      padding: 40px;
    }
  }
}

.main__iphone_x {
  @include iphone-x-top;
  background-color: darken($brand-green, 30%);
}
.litecoin .main__iphone_x {
  background-color: darken($silver, 30%);
}
.dogecoin .main__iphone_x {
  background-color: darken($dogecoin, 30%);
}
.dash .main__iphone_x {
  background-color: darken($dash, 30%);
}
.ethereum .main__iphone_x {
  background-color: darken($ethereal, 30%);
}
.ripple .main__iphone_x {
  background-color: darken($ripple, 30%);
}
.stellar .main__iphone_x {
  background-color: darken($stellar, 30%);
}
.eos .main__iphone_x {
  background-color: darken($eos, 15%);
}
.bitcoincash .main__iphone_x {
  background-color: darken($bitcoincash, 30%);
}
.bitcoinsv .main__iphone_x {
  background-color: darken($bitcoinsv, 30%);
}

#settings {
  flex: 1;
  min-width: 0;
  background-color: #f2f2f2;

  display: none;
  &.current {
    display: block;
  }
}
