
.frame {
  display: flex;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

#main {
  @include clear;
  position: relative;
  background-color: $background;
  flex: 1; // take up full width

  transition: transform .3s ease;
  transform: translateX(0);
  box-shadow: -5px 0px 15px 0px rgba(25,25,25,0.3);

  &.closed {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(273px);
    overflow: hidden;
  }

  .content {

    display: none;
    padding: 20px;

    &.current {
      display: block;
    }
    @include breakpoint(portrait) {
      padding: 40px;
    }
  }

  @include breakpoint(portrait) {
    &.closed {
      transform: translateX(320px);
    }
  }
}

#sidebar {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 273px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  color: #333;
  background-color: white;


  transform: translateX(-100%);
  transition: transform .3s ease;

  &.animating {
    position: fixed;
    bottom: auto;
  }

  &.open {
    transform: translateX(0);
    position: relative;
  }

  @include breakpoint(portrait) {
    width: 320px;
  }
}

#terms {
  @include clear;
  display: none;
  position: relative;
  background-color: $background;
  flex: 1; // take up full width

  transition: transform .3s ease;
  transform: translateX(0);
  box-shadow: -5px 0px 15px 0px rgba(25,25,25,0.3);

  &.closed {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(273px);
    overflow: hidden;
  }

  @include breakpoint(portrait) {
    &.closed {
      transform: translateX(320px);
    }
  }
}

.litecoin {
  #sidebar {
    background-color: white;
  }
}


