.moonpay_payment_methods {
  ._message {
    margin-bottom: -10px;
    @include breakpoint(portrait) {
      margin-bottom: -20px;
    }
  }
  ._separator {
    height: 20px;
    @include breakpoint(portrait) {
      height: 40px;
    }
  }
  ._group {
    ._input {
      position: relative;
    }
    .close__input {
      ._icon {
        .svg-close {
          fill: #969594;
        }
      }
    }
  }
}
