.shapeshift_create {
  margin-bottom: 25px;

  ._title {
    @extend .jigsaw-medium;
    @include breakpoint(portrait) {
      font-size: $base_font_size--portrait;
    }
  }

  .csformgroup {
    &.from {
      margin-bottom: 0;
    }
  }

  .exchange__rate {
    margin-bottom: 20px;
    @include breakpoint(portrait) {
      font-size: $base_font_size--portrait;
    }
  }

  .swap__button {
    cursor: pointer;
    padding: 10px 10px 10px 0;
    user-select: none;
    display: inline-block;
    ._icon {
      width: 28px;
      height: 28px;
      display: block;
      transform: rotate(90deg);
      .svg-exchange {
        fill: darken($grey, 20%);
      }
      @include breakpoint(portrait) {
        width: 36px;
        height: 36px;
      }
    }
  }

  .confirm__buttons {
    margin-top: 20px;
    @include breakpoint(portrait) {
      margin-top: 40px;
    }
  }

  .logout_link {
    display: block;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
    color: #999;
    user-select: none;
    @include breakpoint(portrait) {
      font-size: $base_font_size--portrait;
      padding-top: 15px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
