


.sidebar__header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 19px;

  background-color: white;

  @include breakpoint(iphone5) {
    padding-top: 29px;
    padding-bottom: 30px;
  }

  @include breakpoint(portrait) {
    padding-top: 48px;
    padding-bottom: 49px;
  }
}

.litecoin {
  .sidebar__header {
    background-color: white;
  }
}

.sidebar__logo {
  width: 100px;
  height: 38px;
  display: block;

  @include breakpoint(portrait) {
    width: 150px;
    height: 57px;
  }
}

.sidebar__version {
  padding-top: 16px;
  padding-right: 20px;
  font-size: 14px;
  opacity: 0.3;
}

.sidebar__logout {
  @include clickbtn;
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #298553;
  padding: 20px;
  padding-top: 12px;
  text-align: center;
  color: white;

  &:hover {
    background-color: darken(#298553, 3%);
  }

  ._icon {
    opacity: 0.1;
    margin-top: 7px;
    width: 30px;
    height: 30px;
    display: block;
  }

  ._text {
    padding-top: 11px;
    margin: 0 auto;
  }
}

.litecoin {
  .sidebar__logout {
    background-color: darken($silver, 30%);
  }
}

.sidebar__support {
  @extend .sidebar__logout;
  border-left: 1px solid white;

  ._icon {
    opacity: 0.1;
    margin-top: 7px;
    width: 30px;
    height: 30px;
    display: block;
  }

  ._text {
    padding-top: 11px;
    margin: 0 auto;
  }
}

.settings__footer {
  display: flex;
  flex-direction: row;
}

.litecoin {
  .sidebar__support {
    border-left: 1px solid white;
  }
}

#settings {
  flex-grow: 1;
}

.settings__avatar {
  @include icon(120px, 120px, block);
  width: 109px;
  -webkit-mask-image: url(../img/hex-large.svg);
  margin: 0 auto;
  margin-bottom: 10px;
}

.settings__name {
  text-align: center;
  font-size: 24px;
}

.settings__editBtn {
  display: block;
  cursor: pointer;
  text-align: center;
  padding-top: 10px;
  color: #333;
  opacity: 0.4;

  &:hover {
    text-decoration: underline;
  }
}

.settings__alias {
  display: block;
  text-align: center;
}

.litecoin {
  .settings__alias {
    display: none;
  }
}

.settings__toggle {
  @include clickbtn;
  display: flex;
  padding: 20px;
  padding-bottom: 16px;
  background-color: $purple--light;
  border-bottom: 1px solid darken($purple--light, 5%);

  ._title {
    margin-left: 10px;
    padding-top: 6px;
  }

  ._state {
    flex-grow: 1;
    @include clear;

    ._icon {
      width: 20px;
      height: 20px;
      display: block;
      margin-top: 5px;
      opacity: 0.1;
      float: right;
    }
  }
}

.litecoin {
  .settings__toggle {
    background-color: darken($silver, 20%);
    border-bottom: 1px solid darken($silver, 25%);
  }
}

.settings__toggle-icon {
  width: 26px;
  height: 26px;
  display: block;
  margin-top: 4px;
  opacity: 0.1;
}


#account_dropdown {
  ._content {
    min-height: 300px;
  }
}

#details-preview {
  padding-top: 32px;
}


.settings__group {
  overflow: hidden;
  background-color: darken($purple--light, 5%);

  ._content {

    padding-top: 20px;
    padding-right: 23px;
    padding-left: 20px;
    padding-bottom: 30px;
    transform: translateY(-100%);
  }
}

.litecoin {
  .settings__group {
    background-color: darken($silver, 25%);
  }
}

.settings__btn {
  @extend .csbtn;
  margin-top: 20px;
}

.settings__btn--loading {
  @extend .csbtn;
  margin-top: 20px;
  position: relative;
  color: rgba(255,255,255, 0.3);
  background-color: #999;
  box-shadow:inset 0 1px 1px 1px darken(#999, 20%);
  transform: translate(0px, 3px);
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  padding-left: 4px;
  padding-right: 4px;

  &:active {
    box-shadow:inset 0 1px 1px 1px darken(#999, 20%);
    transform: translate(0px, 3px);
  }

  &:hover {
    color: rgba(255,255,255, 0.3);
  }
}

.settings__input-group {
  position: relative;

  & + .settings__input-group {
    padding-top: 10px;
  }

  ._label {
    @include noselect;
    cursor: pointer;
    display: block;
  }

  ._input {
    @extend .jigsaw-light;
    background-color: white;
    border: 1px solid #ccc;
    color: #333;
    margin-top: 5px;
    height: 50px;
    padding-left: 10px;
    border-radius: 3px;

    &:active, &:focus {
      outline: 0;
      border: 1px solid #999;
    }
  }

  ._help {
    @include clickbtn;
    position: absolute;
    top: 10px;
    right: -5px;
    font-size: 12px;
    text-align: center;
    color: white;
    opacity: 0.4;
    width: 26px;
    height: 26px;
    padding: 4px;

    &:hover {
      opacity: 0.7;
    }
  }
}

.litecoin {
  .settings__input-group {

    ._input {
      background-color: white;
      border: 1px solid $silver;
    }
  }
}

