


.sidebar__header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 19px;

  background-color: white;

  @include breakpoint(iphone5) {
    padding-top: 29px;
    padding-bottom: 30px;
  }

  @include breakpoint(portrait) {
    padding-top: 48px;
    padding-bottom: 49px;
  }
}

.sidebar__logo {
  width: 100px;
  height: 38px;
  display: block;

  @include breakpoint(portrait) {
    width: 150px;
    height: 57px;
  }
}

.sidebar__iphone_x {
  @include iphone-x-top;
}

.sidebar__version {
  cursor: pointer;
  padding-top: 7px;
  padding-right: 20px;
  font-size: 20px;
  opacity: 1;
}

.sidebar__logout {
  @include clickbtn;
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: darken($brand-green, 30%);
  padding: 20px;
  padding-top: 12px;
  text-align: center;
  color: white;
  outline: none;

  &:hover {
    background-color: darken($brand-green, 35%);
    color: white;
  }

  ._icon {
    opacity: 0.1;
    margin-top: 7px;
    width: 30px;
    height: 30px;
    display: block;
  }

  ._text {
    padding-top: 11px;
    margin: 0 auto;
  }
}

.litecoin {
  .sidebar__logout {
    background-color: darken($silver, 30%);
    &:hover {
      background-color: darken($silver, 35%);
    }
  }
}
.ethereum {
  .sidebar__logout {
    background-color: darken($ethereal, 30%);
    &:hover {
      background-color: darken($ethereal, 35%);
    }
  }
}

.sidebar__support {
  @extend .sidebar__logout;
  border-left: 1px solid white;

  ._icon {
    opacity: 0.1;
    margin-top: 7px;
    width: 30px;
    height: 30px;
    display: block;
  }

  ._text {
    padding-top: 11px;
    margin: 0 auto;
  }
}

.settings__footer {
  ._btn_group {
    display: flex;
    flex-direction: row;
  }
  ._link_group {
    padding-bottom: 15px;
    .settings__link {
      padding: 5px 0;
    }
  }
}

#settings {
  flex-grow: 1;
}

.settings__avatar {
  @include icon(120px, 120px, block);
  width: 110px;
  -webkit-mask-image: url('./assets/img/hex-large.svg');
  margin: 0 auto;
  margin-bottom: 10px;
}

.settings__name {
  text-align: center;
  font-size: 24px;
}

.settings__link {
  display: block;
  cursor: pointer;
  text-align: center;
  padding-top: 10px;
  color: #999;

  &:hover {
    text-decoration: underline;
  }
}

#details-preview {
  padding-top: 32px;
}

.settings__btn {
  @extend .csbtn;
  margin-top: 20px;
}

.settings__btn--loading {
  @extend .csbtn-base;
  margin-top: 20px;
  position: relative;
  color: rgba(255,255,255, 0.3);
  background-color: $brand-green;
  box-shadow:inset 0 1px 1px 1px darken($brand-green, 20%);
  transform: translate(0px, 3px);
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  padding-left: 4px;
  padding-right: 4px;

  &:active {
    box-shadow:inset 0 1px 1px 1px darken($brand-green, 20%);
    transform: translate(0px, 3px);
  }

  &:hover {
    color: rgba(255,255,255, 0.3);
  }
}

.litecoin {
  .settings__btn--loading {
    background-color: $silver;
    box-shadow:inset 0 1px 1px 1px darken($silver, 20%);
  }
}
.ethereum {
  .settings__btn--loading {
    background-color: $ethereal;
    box-shadow:inset 0 1px 1px 1px darken($ethereal, 20%);
  }
}

.settings__input-group {
  position: relative;

  & + .settings__input-group {
    padding-top: 10px;
  }

  ._label {
    @include noselect;
    cursor: pointer;
    display: block;
  }

  ._input {
    @extend .jigsaw-light;
    background-color: white;
    border: 1px solid #ccc;
    color: #333;
    margin-top: 5px;
    height: 50px;
    padding-left: 10px;
    border-radius: 3px;

    &:active, &:focus {
      outline: 0;
      border: 1px solid #999;
    }
  }

  ._help {
    @include clickbtn;
    position: absolute;
    top: 10px;
    right: -5px;
    font-size: 12px;
    text-align: center;
    color: white;
    opacity: 0.4;
    width: 26px;
    height: 26px;
    padding: 4px;

    &:hover {
      opacity: 0.7;
    }
  }
}
