#tokens_search {
  ._search_group {
    @include noselect;
    margin-bottom: 15px;
    @include breakpoint(portrait) {
      font-size: $base_font_size--portrait;
      margin-bottom: 30px;
    }
  }

  .input__container {
    @extend .csinput_with_x;
  }

  ._label {
    cursor: pointer;
  }
}
