.moonpay_confirm_purchase {
  ._content {
    text-align: center;
    @extend .jigsaw-light;

    ._fiat {
      padding-top: 20px;
      display: flex;
      justify-content: center;
      ._value {
        font-size: $large_font_size;
        @include breakpoint(portrait) {
          font-size: $large_font_size--portrait;
        }
      }
      ._symbol {
        padding-top: 6px;
        margin-left: 3px;
        font-size: $small_font_size;
        @include breakpoint(portrait) {
          font-size: $small_font_size--portrait;
        }
      }
    }

    ._crypto {
      @extend .jigsaw-medium;
      padding-top: 10px;
      color: darken($grey, 10%);
      font-size: $small_font_size;
      @include breakpoint(portrait) {
        font-size: $small_font_size--portrait;
      }
    }

    ._icon {
      width: 25px;
      height: 25px;
      margin: 5px auto;
      color: $grey;

      @include breakpoint(portrait) {
        width: 40px;
        height: 40px;
      }
    }

    ._address {
      @include wrapdat;
      font-size: $small_font_size;
      @include breakpoint(portrait) {
        font-size: $small_font_size--portrait;
      }
    }
  }
  .apple-pay-button {
    -webkit-appearance: -apple-pay-button;
    -apple-pay-button-type: plain;
    -apple-pay-button-style: black;
  }
}

.moonpay_confirm_purchase_filled {
  ._confirm_btn_group {
    padding-top: 20px;
    margin-top: 0;
  }
  ._content {
    padding-top: 20px;
    @include breakpoint(portrait) {
      padding-top: 30px;
    }

    color: white;
    text-align: center;

    ._icon {
      margin: 0 auto 20px;
      width: 120px;
      height: 120px;
    }

    ._title {
      font-size: $header_font_size;
      padding-bottom: 10px;
      @include breakpoint(portrait) {
        font-size: $header_font_size--portrait;
      }
    }

    ._message {
      max-width: 180px;
      margin: 0 auto;
      padding-bottom: 40px;
      line-height: 1.3;
      font-size: $small_font_size;
      @include breakpoint(portrait) {
        font-size: $small_font_size--portrait;
        max-width: 250px;
      }
    }
  }
}

.moonpay_confirm_purchase_filled._success {
  background-color: $green;
}

.moonpay_confirm_purchase_waiting_payment {
  ._content {
    @include textselect;
  }
  ._label, ._value {
    @include breakpoint(portrait) {
      font-size: $base_font_size--portrait;
    }
  }
  ._value {
    @extend .jigsaw-regular;
    margin-bottom: 15px;
  }
  ._message._top {
    margin-bottom: 15px;
  }
  ._confirm_btn_group {
    @include breakpoint(portrait) {
      margin-top: 20px;
    }
  }
}
