.shapeshift_frame {
  .step {
    display: none;
    &.current {
      display: block;
    }
  }
  .loader__message {
    padding: 40px;
    color: $grey;
    text-align: center;
    font-size: 24px;
    @include breakpoint(portrait) {
      font-size: 32px;
    }
  }
  ._powered_by {
    @extend .jigsaw-regular;
    text-align: center;
    @include breakpoint(portrait) {
      font-size: 20px;
    }
    ._icon {
      display: inline-block;
      vertical-align: middle;
      width: 25px;
      height: 25px;
      @include breakpoint(portrait) {
        width: 32px;
        height: 32px;
      }
      .svg-path {
        fill: #121d28;
      }
    }
  }

}

@import "./create/_index";
@import "./awaiting-deposit/_index";
@import "./awaiting/_index";
@import "./complete/_index";
@import "./error/_index";
