.remove_ads {
  text-align: center;
  width: 300px;

  @include breakpoint(portrait) {
    width: 400px;
  }

  ._header {
    @include clickbtn;
  }

  ._icon {
    width: 120px;
    display: block;
    margin: 0 auto;
    position: relative;

    @include breakpoint(portrait) {
      width: 150px;
      height: 150px;
    }
  }

  ._title {
    @extend .jigsaw-bold;
    font-size: 24px;
    padding-bottom: 10px;

    @include breakpoint(portrait) {
      font-size: 32px;
    }
    color: $yellow;
  }

  ._message {
    color: #a8a7a9;
    font-size: 18px;
    max-width: 200px;
    margin: 0 auto 5px auto;

    &._small {
      font-size: 13px;
      line-height: 1;
      margin-top: 15px;

      ._links {
        margin-top: 10px;
        line-height: 1.4;
      }
    }

    @include breakpoint(portrait) {
      max-width: 280px;
      font-size: 24px;
      line-height: 1.4;
    }
  }

  ._buy_btn {
    @extend .csbtn;
    text-transform: uppercase;

    &.mb-20 {
      margin-bottom: 20px;
    }

    @include breakpoint(portrait) {
      font-size: 26px;
      border-radius: 3px;
    }
  }

  ._buy_btn--loading {
    @extend .csbtn-base;
    position: relative;
    background-color: $grey;
    transform: translate(0px, 3px);
    box-shadow: 0 0px 0 0;
    height: 60px;
    @include breakpoint(portrait) {
      height: 72px;
    }
    ._icon {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -15px;
      margin-left: -15px;
      width: 30px;
      height: 30px;
      animation: infinite-spinning 1s linear infinite;
      @include breakpoint(portrait) {
        margin-top: -18px;
        margin-left: -18px;
        width: 36px;
        height: 36px;
      }
      .svg-refresh {
        fill: darken($grey, 20%);
      }
    }
  }
}
