// http://codepen.io/katydecorah/full/uIEFy

$shadow: $foreground;

#loader {
  color: white;
  text-align: center;
  width: 100%;
}


#logo_animation {
  position: relative;
  height: 180px;
  margin: 0 auto;
}

#loader-message {
  padding-top: 40px;
  max-width: 220px;
  margin: 0 auto;
  height: 90px;
  color: #333;
  text-align: center;
}