.export_private_keys {
  text-align: center;
  min-width: 280px;
  max-width: 350px;
  padding: 20px;

  @include breakpoint(portrait) {
    max-width: 520px;
    padding: 40px;
  }

  ._header {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    @include breakpoint(portrait) {
      margin-bottom: 40px;
    }
  }

  ._title {
    font-size: $subtitle_font_size;
    @include breakpoint(portrait) {
      font-size: $subtitle_font_size--portrait;
    }
  }

  ._content {
    text-align: left;
    margin-bottom: 20px;
    ._description {
      @extend .jigsaw-regular;
    }
    @include breakpoint(portrait) {
      font-size: $base_font_size--portrait;
      margin-bottom: 40px;
    }
    ._keys {
      @include textselect;
      @include wrapdat;
      background-color: $grey--light;
      box-shadow: inset 0 2px 2px 1px rgba(000,000,000,0.2);
      padding: 10px;
      padding-top: 14px;
      padding-bottom: 14px;
      display: block;
      border-radius: 5px;
      font-size: $small_font_size;
      line-height: 1.8;
      overflow-x: hidden;
      max-height: 300px;
      @include breakpoint(portrait) {
        font-size: $small_font_size--portrait;
      }
    }
  }
}
