.moonpay_main {
  ._message {
    margin-bottom: 10px;
  }

  ._link {
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
    margin-bottom: 10px;
    @include breakpoint(portrait) {
      font-size: $base_font_size--portrait;
    }
    &._dropdown {
      display: inline-block;
      position: relative;
      margin-bottom: 0;
      select {
        position: absolute;
        opacity: 0;
        left: 0;
        top: -5px;
        @include breakpoint(portrait) {
          top: 0;
        }
      }
    }
  }

  ._logout_link {
    display: block;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
    color: #999;
    user-select: none;
    @include breakpoint(portrait) {
      font-size: $base_font_size--portrait;
      padding-top: 15px;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
