


// Icon mixin - most useful for grunticons
// ---------------------------------------------------------------------------------------

@mixin icon($width, $height, $display, $url: 'auto') {
  display: $display;
  width: $width;
  height: $height;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: $width $height;
  @if $url != 'auto' {
    background-image: url($url);
  }
}
