


// Simple snippet mixins for quick re-use
// ---------------------------------------------------------------------------------------


// clear floats

@mixin clear() {
  zoom:1;
    &:before,
    &:after{
        content:"";
        display:table;
    }
    &:after{
        clear:both;
    }
}


// Truncate text if it runs over the width...

@mixin ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}


// Stretchy element for 'media-object' layout behaviour

@mixin media-obj() {
  overflow:hidden;
  _overflow:visible;
  zoom:1;
}


// stop users from highlighting text

@mixin noselect() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
}

@mixin textselect() {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: moz-text;
  -ms-user-select: text;
  user-select: text;
}

@mixin clickbtn() {
  @include noselect;
  cursor: pointer;
}


// get rid of z-index glitching

@mixin noZ() {
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
}


// wrap words that extend beyond their container

@mixin wrapdat() {
  white-space: pre;           /* CSS 2.0 */
  white-space: pre-wrap;      /* CSS 2.1 */
  white-space: pre-line;      /* CSS 3.0 */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap;  /* HP Printers */
  word-wrap: break-word;      /* IE 5+ */
}


// create generic tab focus highlights

@mixin tabfocus() {
  outline: 2px solid $focus_color;
}


