.widget-deleted-crypto {
  text-align: center;
  ._link {
    @include clickbtn;
    text-align: center;
    text-decoration: underline;
    padding: 10px;
    margin-top: 10px;
    display: block;
    @include breakpoint(portrait) {
      font-size: $base_font_size--portrait;
      margin-top: 20px;
    }
  }
}
