.shapeshift_complete {
  margin-bottom: 25px;

  .exchange_header {
    position: relative;
    ._subtitle {
      font-size: $subtitle_font_size;
      line-height: 1.2;
      text-align: center;
      color: #999;
      margin-bottom: 5px;
      @include breakpoint(portrait) {
        font-size: $subtitle_font_size--portrait;
      }
    }
  }

  ._message {
    text-align: center;
    @include wrapdat;
    @include breakpoint(portrait) {
      font-size: $base_font_size--portrait;
    }
  }

  ._complete_icon {
    text-align: center;
  }

}
