.modal-confirm-acceleration {
  ._content {
    text-align: center;
  }
  ._percent {
    font-size: $large_font_size;
    @include breakpoint(portrait) {
      font-size: $large_font_size--portrait;
    }
  }
}
