.moonpay_modal {
  padding: 0;
  background-color: white;
  min-width: 280px;
  max-width: 450px;

  @include breakpoint(portrait) {
    width: 450px;
  }

  .loader_message {
    padding: 20px;
    color: $grey;
    font-size: 21px;
    text-align: center;
    @include breakpoint(portrait) {
      font-size: 24px;
    }
  }

  ._header {
    font-size: 21px;
    text-align: center;
    padding: 20px 20px 10px;
    border-bottom: 1px solid $grey;

    @include breakpoint(portrait) {
      font-size: 24px;
      padding: 30px 20px 20px;
    }
  }

  ._step {
    display: none;
    &.active {
      display: block;
    }
  }

  ._content {
    padding: 20px 20px 0;

    ._message {
      @extend .jigsaw-regular;
      @include breakpoint(portrait) {
        font-size: 20px;
      }
    }

    ._group {
      @include noselect;
      @include breakpoint(portrait) {
        font-size: 20px;
      }
      margin-bottom: 15px;
      ._label {
        cursor: pointer;
        display: block;
      }
      ._input {
        @extend .csinput;
        margin-top: 5px;
      }
    }
  }

  ._confirm_btn_group {
    padding: 0 20px 20px 20px;
    background-color: white;
    border-radius: 0 0 3px 3px;
    margin-top: 20px;
    display: flex;

    @include breakpoint(portrait) {
      margin-top: 40px;
    }

    ._cancel, ._back {
      @extend .csbtn-base;
      margin-right: 5px;

      color: darken($grey, 20%);
      background-color: $grey;
      box-shadow: 0 2px 0 0 darken($grey, 20%);

      @include breakpoint(portrait) {
        font-size: 24px;
      }

      &:hover {
        color: darken($grey, 20%);
      }
      &._single {
        margin: 0 auto;
      }
    }

    ._confirm {
      @extend .csbtn;
      margin-left: 5px;

      @include breakpoint(portrait) {
        font-size: 24px;
      }
      &._disabled {
        background-color: $grey;
        box-shadow: 0 2px 0 0 darken($grey, 10%);
        color: darken($grey, 20%);
        pointer-events: none;
        &:hover {
          color: darken($grey, 20%);
        }
      }
    }

    ._loading {
      @extend .csbtn-base;
      position: relative;
      margin-left: 5px;
      color: darken($grey, 20%);
      background-color: $grey;
      transform: translate(0px, 3px);
      box-shadow: 0 0px 0 0;
      &:hover {
        color: darken($grey, 20%);
      }
      ._icon {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -15px;
        margin-left: -15px;
        width: 30px;
        height: 30px;
        display: block;
        animation: infinite-spinning 1s linear infinite;
        .svg-refresh {
          fill: darken($grey, 20%);
        }
      }
    }
  }
}

@import "./identity-verification/_index";
@import "./phone-number-verification/_index";
@import "./face-match-verification/_index";
@import "./document-verification/_index";
@import "./add-credit-card/_index";
@import "./add-bank-account/_index";
@import "./confirm-purchase/_index";
@import "./transaction-detail/_index";
