.moonpay_modal {
  padding: 0;
  background-color: white;
  min-width: 280px;
  max-width: 450px;

  @include breakpoint(portrait) {
    width: 450px;
  }

  .loader_message {
    padding: 20px;
    color: $grey;
    font-size: $header_font_size;
    text-align: center;
    @include breakpoint(portrait) {
      font-size: $header_font_size--portrait;
    }
  }

  ._header {
    font-size: $header_font_size;
    text-align: center;
    padding: 20px 20px 15px;
    border-bottom: 1px solid $grey;

    @include breakpoint(portrait) {
      font-size: $header_font_size--portrait;
      padding: 30px 20px 25px;
    }
  }

  ._step {
    display: none;
    &.active {
      display: block;
    }
  }

  ._content {
    padding: 20px 20px 0;

    ._message {
      @extend .jigsaw-regular;
      @include breakpoint(portrait) {
        font-size: $base_font_size--portrait;
      }
    }

    ._group {
      @include noselect;
      @include breakpoint(portrait) {
        font-size: $base_font_size--portrait;
      }
      margin-bottom: 15px;
      ._label {
        cursor: pointer;
        display: block;
      }
      ._input {
        @extend .csinput;
        margin-top: 5px;
      }
    }
  }

  ._confirm_btn_group {
    padding: 0 20px 20px 20px;
    background-color: white;
    border-radius: 0 0 3px 3px;
    margin-top: 20px;
    display: flex;

    @include breakpoint(portrait) {
      margin-top: 40px;
    }

    .csbtn, .csbtn--loading {
      margin-left: 5px;
    }
    .csbtn--grey {
      margin-right: 5px;
    }
    .csbtn--grey {
      &._single {
        margin: 0 auto;
      }
    }
  }
}

@import "./identity-verification/_index";
@import "./phone-number-verification/_index";
@import "./face-match-verification/_index";
@import "./document-verification/_index";
@import "./add-credit-card/_index";
@import "./add-bank-account/_index";
@import "./confirm-purchase/_index";
@import "./transaction-detail/_index";
