
#receive {
  .hidden {
    display: none;
  }
  .csformgroup--mecto {
    label {
      cursor: default;
    }
    margin-bottom: 0;
  }

  ._qrcode {
    display: table;
    margin: 0 auto;
    margin-bottom: 15px;
  }
}
