
#receive {
  ._title {
    @extend .jigsaw-medium;
    @include breakpoint(portrait) {
      font-size: $base_font_size--portrait;
    }
    position: relative;
  }
  .hidden {
    display: none;
  }
  ._help {
    @include clickbtn;
    position: absolute;
    top: 0;
    right: -5px;
    width: 26px;
    height: 26px;
    padding: 4px;
    @include breakpoint(portrait) {
      width: 32px;
      height: 32px;
    }
    &:hover {
      opacity: 0.9;
    }
  }
}

.receive__label {
  position: relative;
}

.geo__box {
  @extend .generic_box;
  margin-top: 5px;
  text-align: center;

  @include breakpoint(portrait) {
    font-size: $btn_font_size--portrait;
    border-radius: 4px;
  }

  .csbtn {
    margin-bottom: 5px;
    &.is_broadcasting {
      background-color: $yellow;
      box-shadow: 0 3px 0 0 darken($yellow, 10%);
      color: darken($yellow, 20%);
    }
    &.is_connecting {
      background-color: $grey;
      box-shadow: 0 3px 0 0 darken($grey, 10%);
      color: darken($grey, 20%);
    }
  }

  ._text {
    font-size: $small_font_size;
    line-height: 1.3;
    color: $grey;
  }
}

.qr-code {
  display: table;
  margin: 0 auto;
  margin-bottom: 15px;
}
